{{ $image := "" }}
{{ $alt := "" }}
{{ $layerStyles := "" }}
{{ $sectionMargin := "" }}

{{ if .topper.layout.margin }}
  {{ $sectionMargin = .topper.layout.margin }}
{{ end }}

{{ if .topper.background_image }}{{ $image = .topper.background_image }}{{ end }}
{{ if .topper.alt_text }}{{ $alt = .topper.alt_text }}{{ end }}

{{ $backgroundColor := "" }}
{{ $backgroundColor := "bg-dark" }}
{{ $textColor := "text-white" }}
{{ $layerStyles := "" }}
{{ $headingColor := "" }}

{{ if .config.id }}{{ $id = .config.id }}{{ end }}
{{ if .config.aria_labelledby }}{{ $ariaLabelledBy = .config.aria_labelledby }}{{ end }}
{{ if .topper.styles.background_c }}{{ $backgroundColor = .topper.styles.background_c }}{{ end }}
{{ if .topper.styles.text_c }}{{ $textColor = .topper.styles.text_c }}{{ end }}
{{ if .topper.styles.background_layers }}{{ $layerStyles = .topper.styles.background_layers }}{{ end }}
{{ if .topper.styles.heading.c }}{{ $headingColor = .topper.styles.heading.c }}{{ end }}

<header class="{{ partial "bookshop_partial" (slice "section_margin" $sectionMargin) }} text-center {{ $backgroundColor }} {{ $textColor }} position-relative {{ .Params.topper.layout.buffer }}">  
  {{ partial "bookshop_partial" (slice "section_background" (dict "image" $image "alt" $alt "layerStyles" $layerStyles)) }}
  <div class="container wvu-z-index-content py-7">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto">
        {{ if .topper.heading }}
          <h1 class="h3 wvu-shout wvu-text-letter-spacing-lg mb-6">{{ .title }}</h1>
          <h2 id="" class="display-5 oliviar-black text-uppercase mb-4">{{ partial "bookshop_partial" (slice "heading" (dict "heading" .topper.heading)) }}</h2>
        {{ else }}
          <h1 id="" class="display-5 oliviar-black text-uppercase mb-4">{{ .title }}</h1>
        {{ end }}
        <p class="helvetica-neue-light h2 mb-0">{{ .topper.subheading }}</p> 
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 mx-auto">
      <div class="row">
        <div class="col-md-24">
        </div>
      </div>
    </div>
  </div>
</header>