{{ define "main" }}
  {{ partial "bookshop_bindings" `(dict "topper" .Params.student_profile_topper "params" .Params)` }}
  {{ partial "bookshop" (slice .Params.student_profile_topper._bookshop_name (dict "topper" .Params.student_profile_topper "params" .Params)) }}
  <section class="py-6 wvu-backpage-main">
    <div class="container">
      <div class="row">
        <div class="col-xl-14 ms-xl-auto">
          <div class="bg-white p-6 mt-n9">
            {{ partial "bookshop_bindings" `.Params.detail_blocks` }}
            {{ partial "bookshop_partial" (slice "page" .Params.detail_blocks) }}
          </div>
        </div>
        <div class="col-xl-5">
          <div class="ms-lg-n5">
            {{ partial "bookshop_bindings" `.Params.profile_sidebar_blocks` }}
            {{ partial "bookshop_partial" (slice "page" .Params.profile_sidebar_blocks) }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}