{{ $pages := .CurrentSection.Pages.ByParam "last_name" }}
{{ $pages = where $pages ".Params.type" .Params.type }}

<section>
  <div class="container-fluid mx-0">
    <div class="row justify-content-between">

      {{ with $pages.Prev . }}
        <div class="col-xxl-4 mx-0">
          <div class="bg-dark position-relative">
            <div class="row gx-0">
              <div class="col-12">
                <div class="h-100 bg-light">
                </div>
              </div>
              <div class="col-12">
                <div class="p-4">
                  <a class="text-decoration-none oliviar-black stretched-link lh-1" href="{{ .RelPermalink }}">{{ .Params.name }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}

      {{ with $pages.Next . }}
        <div class="col-xxl-4 mx-0">
          <div class="bg-dark position-relative">
            <div class="row gx-0">
              <div class="col-12">
                <div class="p-4">
                  <a class="text-decoration-none oliviar-black stretched-link lh-1" href="{{ .RelPermalink }}">{{ .Params.name }}</a>
                </div>
              </div>
              <div class="col-12">
                <div class="h-100 bg-light">
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
      
    </div>
  </div>
</section>