{{ $alt := "" }}

{{ $src := .article_topper.background_image }}
{{ $authorList := slice }}

{{ $containerStyles := "" }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .article_topper.background_image }}
  {{ else }}
    {{ $image = resources.Get .article_topper.background_image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp Lanczos" 1920 1080)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp Lanczos" 1920 1080)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

{{ $format := "Jan 2, 2006" }}

<header id="" aria-labelledby="" class="position-relative">
  {{ partial "bookshop_partial" (slice "section_background_alt" (dict "image" $src "alt" .alt_text "styles" .article_topper.styles)) }}
  <div class="container wvu-z-index-content py-6">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto">
        <h1 id="big-search-1-label" class="display-5 iowan-old-style mb-3">{{ if .article_topper.heading }}{{ .article_topper.heading }}{{ else }}{{ .title }}{{ end }}</h1>
        {{ if .article_topper.subheading }}
          <p class="helvetica-neue-light fs-4 mb-0">{{ .article_topper.subheading }}</p>
        {{ end }}
        <p class="mt-4 mb-0 iowan-old-style text-uppercase">{{ .publishDate.Format $format }}</p>
        <div class="d-flex mt-4">
          {{ if not site.Data }}
            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
          {{ else if and (site.Params.env_bookshop_live) (.topper.config.hide_collection_pages) }}
            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide dynamic content' is currently selected in this component to speed up the editing of other areas - to see authors here uncheck 'hide dynamic content'" ) ) }}
          {{ else }}
            {{ $authorData := site.Data.people.authors }}

            {{ $byline := slice }}
            {{ if .byline }}
              {{ $byline = .byline }}
            {{ end }}
          
            {{ range $authorData }}
              {{ $author := . }}
              {{ range $byline }}
                {{ if eq .ref $author.uuid }}
                  {{ $authorList = $authorList | append $author }}
                {{ end }}
              {{ end }}
            {{ end }}

            {{ range $authorList }}
              {{ if .image }}
                <div class="ratio ratio-1x1 d-inline-block me-3" style="height: 50px; width: 50px;">
                  <img class="rounded-circle object-fit h-100 w-100" src="{{ .image.src }}" alt="{{ .image.alt }}" />
                </div>
              {{ end }}
              
              <div class="d-inline-block h-100 text-start">
                <p class="small">
                  <span class="d-block helvetica-neue-bold text-uppercase">{{ .name }}</span>
                  <span class="d-block">
                    {{ range .position }}
                      {{ . }}
                    {{ end }}
                  </span>
                </p>
              </div>
            {{ end }}

          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>