<ul class="nav nav-underline mb-4" id="tabs" role="tablist">
  {{ range $index, $element := .tabs }}
    <li class="nav-item">
      <a class="nav-link{{ if eq $index 0 }} active{{ end }}" data-bs-toggle="tab" href="#{{ .label | urlize }}-tab-pane">{{ .label }}</a>
    </li>
  {{ end }}
</ul>
<div class="tab-content" id="myTabContent">
  {{ range $index, $element := .tabs }}
    <div class="tab-pane fade{{ if eq $index 0 }} show active{{ end }}" id="{{ .link | urlize }}-tab-pane" role="tabpanel" aria-labelledby="{{ .link | urlize }}-tab" tabindex="0">{{ .text }}</div>
  {{ end }}
</div>