{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="section-component py-6">
    <div class="container wvu-z-index-content">
      <h2 class="text-center wvu-shout h1 wvu-text-letter-spacing-lg mb-5">
        {{ .heading }}
      </h2>
      <div class="row">
        <div class="col-xl-18 mx-xl-auto">
          <div class="row gx-5 justify-content-center">
            {{ range first 3 .shorts }}
              {{ $title := "" }}
              {{ if .title }}
                {{ $title = .title }}
              {{ end }}            
              <div class="col-8">
                {{ partial "bookshop" (slice "design-system/generic/youtube-video" .) }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}