<link href="https://cdn.fonts.net/kit/b339d500-35c3-11ed-aaf7-06b70d83f6b0/b339d500-35c3-11ed-aaf7-06b70d83f6b0.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.typekit.net/yys7vri.css">

{{ $scss := resources.Get "scss/site.scss" }}
{{ $styles := $scss | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

{{ $bookshop_scss_files := partial "bookshop_scss" . }}
{{ $bookshopScss := $bookshop_scss_files | resources.Concat "css/bookshop.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $bookshopScss.Permalink }}">