{{ define "main" }}

  {{ partial "bookshop_bindings" `(dict "topper" .Params.topper "title" .Params.title "blocks" .Params.content_blocks)` }}
  {{ partial "bookshop" (slice .Params.topper._bookshop_name (dict "topper" .Params.topper "title" .Params.title)) }}

  {{ if and .Params.topper (not .Params.topper._bookshop_name) }}
    {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .Params.topper "title" .Params.title)) }}
  {{ end }}

  {{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }}
  
{{ end }}