{{ $sectionMargin := "py-6" }}
{{ $panelStyles := "bg-wvu-accent--blue-dark text-white rounded-2" }}
{{ $gridClasses := "col" }}
{{ $itemHeadingStyles := "iowan-old-style h1" }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  <section class="py-6 position-relative">
    <div class="container position-relative wvu-z-index-content {{ .styles.margin }}">
      {{ if .heading }}
        <div class="row text-center mb-5">
          <div class="col-xl-12 mx-xl-auto">
            <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-accent--blue-dark">{{ .heading }}</h2>
            {{ if .subheading }}
              <p class="lead text-wvu-accent--blue-dark">{{ .subheading }}</p>
            {{ end }}
          </div>
        </div>
      {{ end }}
      
      <div class="row gx-4 text-center">
        {{ range .items }}
          <div class="{{ $gridClasses }}">
            <div class="position-relative px-5 py-6 h-100 {{ $panelStyles }}">
              <h3 class="{{ $itemHeadingStyles }}">{{ .title }}</h3>
              <p>{{ .text }}</p>
              <a class="stretched-link" href="{{ .url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-neutral--cream"></span></a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

{{ end }}