{{ $imgClasses := "" }}
{{ if eq .Params.use_cutout true }}
  {{ $imgClasses = "mb-n5 mt-n6" }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="section-component py-0 text-center">
    <div class="container py-6">
      {{ with .heading }}
        <h2 class="wvu-shout wvu-text-letter-spacing-lg h6 mb-5">{{ . }}</h2>
      {{ end }}
      <div class="row gx-4 justify-content-center">
        {{ range .testimonials }}
          <div class="col-6 text-center">
            <blockquote class="ms-0 border-0 border-wvu-gold mb-4">
              <span class="d-block wvu-shout text-wvu-gold display-1 mb-n3">“</span>
              <p class="iowan-old-style fs-4 mb-0">{{ .quote | markdownify }}</p>   
            </blockquote>
            <div class="w-100 d-flex justify-content-center mb-2">            
              <div class="ratio ratio-1x1" style="height: 100px; width: 100px;">
                <div class="h-100 w-100 rounded-circle overflow-hidden bg-wvu-accent--blue">
                  {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" .image "width" 960 "height" 960 "classes" "object-fit-cover")) }}
                </div>
              </div>
            </div>
            <p>
              <span class="d-block">{{ .name }}</span>
              <span class="d-block helvetica-neue-light">{{ .title }}</span>
            </p>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}