{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="section-component py-6">
    <div class="container">
      <h2>{{ .heading }}</h2>
      <p>{{ .subheading }}</p>
      <div class="row">
        {{ if not site.Data }}
          {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
        {{ else if and (site.Params.env_bookshop_live) (.config.hide_collection_pages) .student }}
          {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide collection pages' is currently selected in this component to speed up the editing of other areas - to see the pages here uncheck 'hide collection pages'" ) ) }}
        {{ else }}
          {{ $peopleData := site.Data.people }}
          {{ range .people }}
            {{ $person := .person }}
            {{ range $peopleData }}
              {{ if eq $person .uuid }}
                <div class="col-24 col-md-12 col-lg-8 col-xl-4">
                  {{ if .image }}
                    <div class="mb-3">
                      <div class="ratio ratio-2x3">
                        {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" .image "width" 400 "height" 600 "classes" "object-fit-cover h-100 w-100")) }}
                      </div>
                    </div>
                  {{ else }}
                    <img class="img-fluid mb-3" src="https://placehold.co/400x600" alt="Placeholder for portrait of ." />
                  {{ end }}
                  <h3 class="h6">{{ .name }}</h3>
                  <p class="small">Position</p>
                  <a class="small"><a href="#">View Bio <span class="fa-regular fa-arrow-circle-right"></span></a>
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}