{{ $src := .params.image }}
{{ $backgroundColor := "bg-white text-dark" }}
{{ $headingColor := "text-wvu-blue" }}
{{ $pattern := "" }}
{{ $patternOpacity := "1" }}

{{ if .params.image }}
  {{ $backgroundColor = "bg-dark text-white" }}
  {{ $headingColor = "text-wvu-gold" }}
{{ end }}

{{ if and .topper.styles .topper.styles.background_c }}
  {{ $backgroundColor = .topper.styles.background_c }}
{{ end }}

{{ if and .topper.styles .topper.styles.heading_c }}
  {{ $headingColor = .topper.styles.heading_c }}
{{ end }}

{{ $vibe := .topper.styles.vibe }}

{{ if eq $vibe "down-to-business" }}
  {{ $pattern = "wvu-bg-pattern-grid" }}
  {{ $patternOpacity = "0.4" }}
{{ else }}
  {{ $pattern = "wvu-bg-topo-map" }}
  {{ $patternOpacity = "0.1" }}
{{ end }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .params.image }}
  {{ else }}
    {{ $image = resources.Get .params.image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<section class="py-6 {{ .topper.styles.background_c }} position-relative">
  {{ if and .params.image .params.organization_topper.use_large_background }}
    {{ partial "bookshop_partial" (slice "section_background_alt" (dict "image" $src "alt" .topper.alt_text "styles" .topper.styles)) }}
  {{ end }}
  <div class="wvu-bg-img">
    {{ if and .topper.styles .topper.styles.enable_pattern }}
      <div class="{{ $pattern }} bg-white h-100 w-100" style="opacity: {{ $patternOpacity }}"></div>
    {{ end }}
  </div>
  <div class="container mb-6 wvu-z-index-content">
    <div class="row gx-lg-0 align-items-center">
      <div class="col-lg-12">
        <p class="wvu-shout wvu-text-letter-spacing-lg ms-lg-4 text-wvu-accent--yellow">{{ .params._schema | humanize }}</p>
        <div class="bg-white text-dark p-4 p-xl-5 me-xl-n5 wvu-z-index-content">
          <div class="row">
            <div class="col-18">
              {{ if .params.location }}
                <div class="mb-4">
                  <p class="oliviar-black"><span class="fa-regular fa-location-dot"></span> <span>{{ .params.location }}</span></p>
                </div>
              {{ end }}
              <h1 class="display-4 oliviar-black">{{ .params.name_of_organization }}</h1>
              {{ with .params.contacts }}
                <h2 class="wvu-shout h6 mt-5">Contact</h2>
                <p>
                  {{ range . }}
                    <span class="d-block"><span class="d-inline-block me-3"><span class="fa-regular fa-user"></span> {{ .name }}</span> {{ with .phone }}<span class="d-inline-block me-3"><span class="fa-regular fa-phone"></span> <a href="tel:{{ . }}">{{ . }}</a></span>{{ end }} {{ with .email }}<span class="d-inline-block"><span class="fa-regular fa-envelope"></span> <a href="mailto:{{ . }}">{{ . }}</a></span>{{ end }}</span>
                  {{ end }}
                </p>
              {{ end }}
              {{ with .params.social_media_accounts }}
                <h2 class="wvu-shout h6 mt-5">Follow</h2>
                <ul class="list-inline">
                  {{ range . }}
                    <li class="list-inline-item"><a class="text-decoration-none" href="{{ .url }}"><span class="fa-brands fa-facebook"></span> {{ .platform }}</a></li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
            <div class="col-6">
              <div class="ratio ratio-1x1 bg-light border border-1 border-dark rounded-3">

              </div>
            </div>
          </div>
        </div>
      </div>
      
      {{ if and .params.image (not .params.organization_topper.use_large_background) }}
        <div class="col-lg-12">
          <div class="ratio ratio-3x2">
            <img class="img-fluid object-fit-cover" src="{{ $src}}" alt="" />
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>