{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section id="page-collection-vertical-1" aria-labelledby="page-collection-vertical-1-label" class="section-component py-6 text-center {{ .layout.pull }}">  
    <div class="container wvu-z-index-content">
      {{ if .heading }}
        <h2 id="featurettes-1-label" class="display-5 wvu-shout wvu-text-letter-spacing-lg text-wvu-blue">{{ .heading }}</h2>
        <p class="h3 helvetica-neue-light text-wvu-blue mb-4">{{ .subheading }}</p>
      {{ end }}
      {{ if .label }}
        <div class="text-start">
          <div class="d-inline-block mb-n5 ms-n5 position-relative d-inline-flex align-items-center wvu-z-index-max">
            <div class="d-block bg-wvu-accent--blue wvu-bleed-start" style="height: 1px; content: '';"></div>
            <h2 class="oliviar-black-italic text-wvu-accent--blue mb-n1 px-3 py-4 bg-white border border-1 border-wvu-accent--blue border-solid">{{ .label }}</h2>
          </div>
        </div>
      {{ end }}
      <div class="row justify-content-start">          
        <div class="mb-5 col-lg-16 mx-md-auto text-start">
          {{ range .items }}
            <div class="bg-white shadow mb-5">
              <div class="row gx-0">
                <div class="col-lg-12 wvu-col-page-collection-thumbnail">                  
                  <div class="position-relative h-100">                    
                    <a class="d-block h-100" aria-hidden="true" tabindex="-1" title="Read More: Lorem Ipsum Dolor Sit Amet Consectetur" href="https://designsystem.wvu.edu/people/lorem-ipsum-dolor-sit-amet-consectetur">                      
                      {{ if .image }}
                        <img class="card-img-top img-fluid h-100 object-fit-cover" src="{{ .image }}" alt="{{ .image_alt }}">
                      {{ else }}
                        <img class="card-img-top img-fluid h-100 object-fit-cover" src="https://placehold.co/960x640" alt="Image placeholder.">
                      {{ end }}
                    </a>
                  </div>              
                </div>
                <div class="col-lg-12">
                  <div class="p-5">
                    <h3 class="card-title mb-4" id="lorem-ipsum-dolor-sit-amet-consectetur-page-collection-vertical-1-139968">
                      <a title="Read More: Lorem Ipsum Dolor Sit Amet Consectetur" class="h2 d-block oliviar-black mb-4 text-decoration-none text-wvu-blue" href="https://designsystem.wvu.edu/people/lorem-ipsum-dolor-sit-amet-consectetur">{{ .heading }}</a>
                    </h3>
                    {{ .item_text | markdownify }}
                    {{ if .links }}
                      <ul class="wvu-ul-chevrons">
                        {{ range .links }}
                          <li>
                            <a class="text-decoration-none" href="{{ .url }}">{{ .text }}</span>
                            </a>
                          </li>
                        {{ end }}
                      </ul>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="">
        <p class="mb-0">Put additional info or 
          <a href="#">links</a> here.
        </p>
      </div>    
    </div>
  </section>
{{ end }}