{{ $vibe := "wvu-ds-vibe-student-experience-01"}}
{{ $colorPalette := "wvu-ds-color-palette-01"}}
{{ $imageClasses := "object-fit-contain" }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="section-component wvu-ds-student-profiles {{ $vibe }} {{ $colorPalette }} py-6">
    <div class="container wvu-z-index-content">
      <div class="wvu-ds-bg-primary text-white border border-2 border-dark wvu-shadow-hard-dark">
        <div class="row gx-0">
          <div class="col-12 ms-auto">
            <h2 class="wvu-text-vertical wvu-shout h6 small wvu-text-letter-spacing-lg text-wvu-accent--yellow h-100"><span class="d-block bg-wvu-accent--yellow text-wvu-accent--blue p-2">Alumni Profile</span></h2>

            <div class="p-5 w-100 h-100 position-relative">
              <div class="h-100 position-relative">
                <div class="w-100 h-100">
                  <div class="row h-100">
                    {{ if .is_cutout }}
                      {{ $imageClasses = printf "%s%s" "mt-n6 mb-n5 " $imageClasses }}
                      <div class="wvu-bg-img">
                        <div class="wvu-bg-topo-map bg-wvu-accent--blue-light h-100 w-100" style="opacity: 1"></div>
                      </div>
                    {{ end }}
                    <div class="col-xxl-17 mx-xxl-auto d-flex justify-content-center align-items-end wvu-z-index-content">
                      {{ if .image }}
                        <div class="wvu-z-index-content">
                          {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" .image "width" 960 "height" 640 "imageProcess" "fit" "classes" $imageClasses "alt" .alt_text)) }}
                        </div>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mx-auto">
            <div class="row">
              <div class="col-16">
                <div class="wvu-z-index-content position-relative px-3 py-6">
                  {{ with .label }}
                    <div class="d-inline-block wvu-container-box-skewed-3 wvu-ds-bg-secondary p-3 pb-2 me-n3 ms-n4 mb-3 mt-n5" style="transform: rotate(-2deg)">
                      <p class="oliviar-black h5 text-uppercase">
                        {{ range . }}
                          <span class="d-block">{{ . }}</span>
                        {{ end }}
                      </p>
                    </div>
                  {{ end }}
                  <h3 class="h1 oliviar-black text-wvu-accent--yellow">{{ .name }}</h3>
                  {{ with .info }}
                    <div class="fs-5 small">
                      {{ range . }}
                        <p class="mb-0">{{ . }}</p>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              </div>
              <div class="col-8 d-flex align-items-center position-relative">
                {{ if .ctas }}
                  <ul class="list-unstyled w-100 me-n4">
                    {{ range .ctas }}
                      <li><a class="d-block mb-1 bg-wvu-accent--sunset text-dark p-2" href="{{ .url }}">{{ .text }}</a></li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>
            </div>
            
            <!-- <div class="bg-wvu-accent--yellow h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
              <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
              <blockquote class="ms-0 border-0 border-wvu-gold">
                <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
                <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
              </blockquote>
            </div> -->
            
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}