{{ define "main" }}
  {{ $mainCols := "col-md-16 col-lg-18 col-xl-12 col-xxl-11" }}
  {{ $sidebarCols := "col-md-8 col-lg-6" }}

  {{ if or .Params.hide_section_menu (not .Params.detail_sidebar_blocks) }}
    {{ if not .Params.detail_sidebar_blocks }}
      {{ $mainCols = "col-24 col-xl-14 ms-xl-5 me-xl-auto" }}
    {{ else }}
      {{ $mainCols = "col-md-16 col-xl-15 mx-xxl-auto" }}
      {{ $sidebarCols = "col-md-8 col-xl-6" }}
    {{ end }}
  {{ end }}

  {{ partial "bookshop_bindings" `(dict "topper" .Params.topper "title" .Params.title "detail_blocks" .Params.detail_blocks "sidebar_blocks" .Params.detail_sidebar_blocks)` }}
  {{ partial "bookshop_partial" (slice "page-detail-test" (dict "topper" .Params.topper "title" .Params.title "detail_blocks" .Params.detail_blocks "sidebar_blocks" .Params.detail_sidebar_blocks "main_cols" $mainCols "sidebar_cols" $sidebarCols)) }}

{{ end }}