{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="py-6">
    <div class="container wvu-z-index-content">
      <div class="row justify-content-center gx-xl-5">
        {{ if and .column_a .column_a._bookshop_name }}
          <div class="col-xl-12">
            {{ partial "bookshop_bindings" `.column_a` }}
            {{ partial "bookshop" (slice .column_a._bookshop_name .column_a) }}
          </div>
        {{ end }}
        {{ if and .column_b .column_b._bookshop_name }}
          <div class="col-6">
            {{ partial "bookshop_bindings" `.column_b` }}
            {{ partial "bookshop" (slice .column_b._bookshop_name .column_b) }}
          </div>
        {{ end }}
        {{ if and .column_c .column_c._bookshop_name }}
          <div class="col-6">
            {{ partial "bookshop_bindings" `.column_c` }}
            {{ partial "bookshop" (slice .column_c._bookshop_name .column_c) }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}