// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-fallback: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$helvetica-neue: 'NeueHelvetica55Roman', $helvetica-neue-fallback !default;
$wvu-shout-fallback: 'Arial Narrow', Impact, Charcoal, 'Arial Black', $helvetica-neue-fallback !default;

// Webfonts from Monotype.com
$helvetica-neue-light: 'NeueHelvetica45Light', $helvetica-neue-fallback !default;
$helvetica-neue-bold: 'NeueHelvetica75Bold', $helvetica-neue-fallback !default;
$helvetica-neue-italic: 'NeueHelvetica56Italic', $helvetica-neue-fallback !default;
$helvetica-neue-bold-italic: 'NeueHelvetica76BoldItalic', $helvetica-neue-fallback !default;
$helvetica-neue-condensed-black: 'NeueHelvetica97CondensedBlack', $wvu-shout-fallback !default;

// Oliviar Black
$oliviar-black: 'OliviarSansBlack', $wvu-shout-fallback !default;
$oliviar-black-italic: 'OliviarSansBlackItalic', $wvu-shout-fallback !default;
$oliviar-thin: 'OliviarSansThin', $wvu-shout-fallback !default;

// Rustica
$rustica: 'Rustica', $wvu-shout-fallback !default;

// Iowan
$iowan-fallback: Iowan, 'Times New Roman', Times, Georgia, serif !default;
$iowan-old-style: 'IowanOldStyleBTRoman', $iowan-fallback !default;
$iowan-old-style-italic: 'IowanOldStyleBTItalic', $iowan-fallback !default;
$iowan-old-style-black: 'IowanOldStyleBTBlack', $iowan-fallback !default;
$iowan-old-style-black-italic: 'IowanOldStyleBTBlackItalic', $iowan-fallback !default;

// Shout
$wvu-shout-font-family: $helvetica-neue-condensed-black !default;

// Font size
$wvu-font-size-base: 1rem !default;

// Paragraph measure
$wvu-p-measure: 40rem !default;

// Line height
$wvu-shout-line-height: 0.80487em !default;
$wvu-traditional-audience-line-height: 1.16666666667em !default;

// Audiences
$wvu-traditional-audience: $iowan-old-style !default;
$narrow-audience: $iowan-old-style-italic !default;

// Tracking
$wvu-letter-spacing-width: 1px !default;
$wvu-letter-spacing-width-lg: 3px !default;
$wvu-letter-spacing-width-xl: 6px !default;

// Color
//==================================================

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

$wvu-accent--old-gold: #7F6310;
$wvu-neutral--off-white: #F7F7F7;
$wvu-neutral--cream: #F2E6C2;
$wvu-neutral--tan: #B3A169;
$wvu-neutral--warm-gray-light: #BEB7B3;
$wvu-neutral--warm-gray-medium: #988E8B;
$wvu-neutral--warm-gray-dark: #554741;
$wvu-accent--blue-dark: #1C2B39;
$wvu-accent--blue: #0062A3;
$wvu-accent--blue-light: #9DDAE6;
$wvu-accent--yellow: #FFE539;
$wvu-accent--sunset: #F3674F;

$wvu-blue-bg-subtle: tint-color($wvu-blue, 10%);
$wvu-gold-bg-subtle: tint-color($wvu-gold, 10%);

$wvu-accent--old-gold-bg-subtle: tint-color($wvu-accent--old-gold, 10%);
$wvu-neutral--off-white-bg-subtle: tint-color($wvu-neutral--off-white, 10%);
$wvu-neutral--cream-bg-subtle: tint-color($wvu-neutral--cream, 10%);
$wvu-neutral--tan-bg-subtle: tint-color($wvu-neutral--tan, 10%);
$wvu-neutral--warm-gray-light-bg-subtle: tint-color($wvu-neutral--warm-gray-light, 10%);
$wvu-neutral--warm-gray-medium-bg-subtle: tint-color($wvu-neutral--warm-gray-medium, 10%);
$wvu-neutral--warm-gray-dark-bg-subtle: tint-color($wvu-neutral--warm-gray-dark, 10%);
$wvu-accent--blue-dark-bg-subtle: tint-color($wvu-accent--blue-dark, 10%);
$wvu-accent--blue-bg-subtle: tint-color($wvu-accent--blue, 10%);
$wvu-accent--blue-light-bg-subtle: tint-color($wvu-accent--blue-light, 10%);
$wvu-accent--yellow-bg-subtle: tint-color($wvu-accent--yellow, 10%);
$wvu-accent--sunset-bg-subtle: tint-color($wvu-accent--sunset, 10%);

$wvu-blue-bg-subtle-dark: shade-color($wvu-blue, 10%);
$wvu-gold-bg-subtle-dark: shade-color($wvu-gold, 10%);

$wvu-accent--old-gold-bg-subtle-dark: shade-color($wvu-accent--old-gold, 10%);
$wvu-neutral--off-white-bg-subtle-dark: shade-color($wvu-neutral--off-white, 10%);
$wvu-neutral--cream-bg-subtle-dark: shade-color($wvu-neutral--cream, 10%);
$wvu-neutral--tan-bg-subtle-dark: shade-color($wvu-neutral--tan, 10%);
$wvu-neutral--warm-gray-light-bg-subtle-dark: shade-color($wvu-neutral--warm-gray-light, 10%);
$wvu-neutral--warm-gray-medium-bg-subtle-dark: shade-color($wvu-neutral--warm-gray-medium, 10%);
$wvu-neutral--warm-gray-dark-bg-subtle-dark: shade-color($wvu-neutral--warm-gray-dark, 10%);
$wvu-accent--blue-dark-bg-subtle-dark: shade-color($wvu-accent--blue-dark, 10%);
$wvu-accent--blue-bg-subtle-dark: shade-color($wvu-accent--blue, 10%);
$wvu-accent--blue-light-bg-subtle-dark: shade-color($wvu-accent--blue-light, 10%);
$wvu-accent--yellow-bg-subtle-dark: shade-color($wvu-accent--yellow, 10%);
$wvu-accent--sunset-bg-subtle-dark: shade-color($wvu-accent--sunset, 10%);

// Old Colors
// Neutral
$wvu-neutral--white: $wvu-neutral--off-white;
$wvu-neutral--black: #2C2A29;
$wvu-neutral--dark-gray: $wvu-accent--blue-dark;
$wvu-neutral--light-gray: $wvu-neutral--warm-gray-light;
$wvu-neutral--dark-brown: #6E6259;
$wvu-neutral--brown: #7C736A;
$wvu-neutral--light-brown: #BFB8AF;

// Accent
$wvu-accent--light-blue: #9BD3DD;
$wvu-accent--brown: #4B3D2A;
$wvu-accent--mustard: $wvu-accent--old-gold;
$wvu-accent--orange: #ED8B00;
$wvu-accent--dark-green: #0D5257;
$wvu-accent--green: #657A68;
$wvu-accent--light-green: #9ABEAA;
$wvu-accent--red: #BE3A34;
$wvu-accent--burnt-orange: #CD4C08;

// Breadcrumbs
$wvu-breadcrumbs-color: #8F9699;

// Masthead
//==================================================
$wvu-flying-wv-w-signature: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--gold-blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue-signature--1.0.0.svg' !default;

// Hero Elements
//==================================================
$wvu-shout-font-size-medium: 4.5em !default;
$wvu-shout-font-size-long: 3em !default;
$wvu-shout-margin: 0 0 .5em !default;

// Hero Typography
$wvu-hero-font-color: white !default;
$wvu-hero-title-typeface: $wvu-shout-font-family !default;
$wvu-hero-vignetting-opacity: .85 !default;
$wvu-typography-line-length: 45rem !default;
$wvu-tint-opacity: 1 !default;
$wvu-vignetting-opacity: .85 !default;

$wvu-slash-width: .5em !default;
$wvu-slash-height: 1.25em !default;
$wvu-slash-height-tall: 150% !default;

$wvu-blue-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__blue--1.0.0.svg";
$wvu-gold-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg";
$wvu-white-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__white--1.0.0.svg";
$wvu-slashes-gold-blue: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue--1.0.0.svg";
$wvu-slashes-gold-blue-white: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue-white--1.0.0.svg";
$wvu-grid-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__grid--1.0.0.svg";
$wvu-grid-pattern-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-transparent--1.0.0.svg";
$wvu-grid-pattern-zoomed: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed--1.0.0.svg";
$wvu-grid-pattern-zoomed-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed-transparent--1.0.0.svg";
$wvu-topo-map-black: "/patterns/topo-dark.svg";
$wvu-topo-map-white: "/patterns/topo.svg";
$wvu-topo-map-partial-black: "/images/topo-partial.svg";
$wvu-topo-map-opacity: 1 !default;
$wvu-gradient-mesh-blue: "/images/gradient-mesh-blue.jpg";
$wvu-container-box-skewed-1: "/containers/box-skewed-001.svg";
$wvu-container-box-skewed-2: "/containers/box-skewed-002.svg";
$wvu-container-box-skewed-3: "/containers/box-skewed-003.svg";
$wvu-container-box-skewed-4: "/containers/box-skewed-004.svg";
$wvu-texture: "/textures/halftone-grunge-dark.svg";

// Make !important configurable
$global-important: !important !default; // Set to `null` to remove !important from all CSS property values, except where explicitly defined otherwise in mixin @includes.

// WVU Elements
$wvu-bar-color: $wvu-gold !default;
$wvu-bar-position: 'top' !default;
$wvu-bar-width: 7rem !default;

// Z-index for vignetting. slash, grid
$wvu-z-index-content: 100 !default;
$wvu-z-index-breadcrumbs: 990 !default;
$wvu-z-index-primary-nav: 1000 !default; // NOTE: Aligns with Bootstrap Dropdowns
$wvu-z-index-max: 9999 !default;

$wvu-z-index-bg-img: 10 !default;
$wvu-z-index-pattern: 20 !default;
$wvu-z-index-container-content: 130 !default;
$wvu-z-index-container: 120 !default;
$wvu-z-index-container-shadow: 110 !default;
$wvu-z-index-fg-img: 70 !default;

$wvu-z-index-slash: -1 !default;
$wvu-z-index-angle-container: -1 !default;
$wvu-z-index-vignetting: 1 !default;

// WVU Breakpoints
$wvu-bp-xs: 0 !default;
$wvu-bp-sm: 576px !default;
$wvu-bp-md: 768px !default;
$wvu-bp-lg: 992px !default;
$wvu-bp-xl: 1200px !default;
$wvu-bp-xxl: 1400px !default;
$wvu-bp-xxxl: 1600px !default;

$wvu-bp-nav: $wvu-bp-lg !default;
$wvu-bp-nav-max-width: ($wvu-bp-nav - 1) !default;

$wvu-breakpoints: (
  $wvu-bp-xs,
  $wvu-bp-sm,
  $wvu-bp-md,
  $wvu-bp-lg,
  $wvu-bp-xl,
  $wvu-bp-xxl,
  $wvu-bp-xxxl
);

// Bootstrap Overrides
//==================================================
$sizes: (
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
);

$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      10: 10%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);

$grid-breakpoints: (
  xs: $wvu-bp-xs,
  sm: $wvu-bp-sm,
  md: $wvu-bp-md,
  lg: $wvu-bp-lg,
  xl: $wvu-bp-xl,
  xxl: $wvu-bp-xxl,
  xxxl: $wvu-bp-xxxl
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1520px
);

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 10,
  9: $spacer * 14,
  10: $spacer * 20,
  11: $spacer * 24,
);

$display-font-sizes: (
  0: 8rem,
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

@media (min-width: 1800px) {
  .display-0 {
    font-size: 10rem !important;
  }
}

$aspect-ratios: (
  "1x1": 100%,
  "2x3": calc(3 / 2 * 100%),
  "3x2": calc(2 / 3 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "9x16": calc(16 / 9 * 100%)
);

.ratio-3x2 {
  --bs-aspect-ratio: 66.66667%; // 2x1
}

$grid-columns: 24 !default;

$audience-general-typography: (
  "label": $helvetica-neue-condensed-black,
  "super-heading": $iowan-old-style-black,
  "display-heading": $helvetica-neue-condensed-black,
  "subheading": $helvetica-neue-light,
  "body": $helvetica-neue
);

$audience-prospective-students-typography: (
  "label": $helvetica-neue-condensed-black,
  "super-heading": $oliviar-black,
  "display-heading": $rustica,
  "subheading": $helvetica-neue-light,
  "body": $helvetica-neue
);

$audiences-typography: (
  "general": $audience-general-typography,
  "prospective_students": $audience-prospective-students-typography
);

$blue: #006FE6;
$link-color: $blue;
$blockquote-margin-y: 0;
$card-border-radius: 0;
$card-border-width: 0;
$card-bg: transparent;
$dark: $wvu-neutral--black;
$display1-size: 7rem;
$display2-size: 5rem;
$display3-size: 4rem;
$display4-size: 3.5rem;
$font-size-base: 1rem;
$emphasized-link-hover-darken-percentage: 0%;
$font-family-sans-serif: $helvetica-neue;
$jumbotron-bg: transparent;
$jumbotron-padding: 4rem;
$lead-font-size: ($font-size-base * 1.5);
$link-decoration: underline;
$pink: #DB1A74;
$small-font-size: 80%;
$nameSpace: 'wvu';
$text-shadow: 2px 2px black;
$wvu-shadow-hard: rgba(0, 0, 0, 0.15);

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  10: 10px
);

$wvu-slash-skew-angle: -33.75deg;

$enable-negative-margins: true;