// Primary

$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Accent

$wvu-accent--old-gold: #7F6310;
$wvu-accent--blue-dark: #181f23;
$wvu-accent--blue: #0062A3;
$wvu-accent--blue-light: #9DDAE6;
$wvu-accent--green: #6A724F;
$wvu-accent--red: #8d4638;
$wvu-accent--yellow: #F7DD63;
$wvu-accent--sunset: #F58672;

// Neutral

$wvu-neutral--off-white: #F7F7F7;
$wvu-neutral--cream: #F2E6C2;
$wvu-neutral--tan: #B3A169;
$wvu-neutral--warm-gray-light: #BEB7B3;
$wvu-neutral--warm-gray-medium: #988E8B;
$wvu-neutral--warm-gray-dark: #554741;

// Social Media

$facebook: #3b5998;
$twitter: #00acee;
$flickr: #ff0084;
$instagram: #8a3ab9;
$linkedin: #0e76a8;
$syndication: #ee802f;
$youtube: #c4302b;
$github: #171515;

$custom-colors: (
  "facebook": $facebook,
  "twitter": $twitter,
  "flickr": $flickr,
  "instagram": $instagram,
  "linkedin": $linkedin,
  "syndication": $syndication,
  "youtube": $youtube,
  "github": $github,
  "wvu-blue": $wvu-blue,
  "wvu-gold": $wvu-gold,
  "wvu-accent--old-gold": $wvu-accent--old-gold,
  "wvu-accent--blue-dark": $wvu-accent--blue-dark,
  "wvu-accent--blue": $wvu-accent--blue,
  "wvu-accent--blue-light": $wvu-accent--blue-light,
  "wvu-accent--green": $wvu-accent--green,
  "wvu-accent--red": $wvu-accent--red,
  "wvu-accent--yellow": $wvu-accent--yellow,
  "wvu-accent--sunset": $wvu-accent--sunset,
  "wvu-neutral--off-white": $wvu-neutral--off-white,
  "wvu-neutral--cream": $wvu-neutral--cream,
  "wvu-neutral--tan": $wvu-neutral--tan,
  "wvu-neutral--warm-gray-light": $wvu-neutral--warm-gray-light,
  "wvu-neutral--warm-gray-medium": $wvu-neutral--warm-gray-medium,
  "wvu-neutral--warm-gray-dark": $wvu-neutral--warm-gray-dark
);

$custom-colors-bg-subtle: (
  "wvu-blue-subtle": $wvu-blue-bg-subtle,
  "wvu-gold-subtle": $wvu-gold-bg-subtle,
  "wvu-accent--old-gold-subtle": $wvu-accent--old-gold-bg-subtle,
  "wvu-accent--blue-dark-subtle": $wvu-accent--blue-dark-bg-subtle,
  "wvu-accent--blue-subtle": $wvu-accent--blue-bg-subtle,
  "wvu-accent--blue-light-subtle": $wvu-accent--blue-light-bg-subtle,
  "wvu-accent--yellow-subtle": $wvu-accent--yellow-bg-subtle,
  "wvu-accent--sunset-subtle": $wvu-accent--sunset-bg-subtle,
  "wvu-neutral--off-white-subtle": $wvu-neutral--off-white-bg-subtle,
  "wvu-neutral--cream-subtle": $wvu-neutral--cream-bg-subtle,
  "wvu-neutral--tan-subtle": $wvu-neutral--tan-bg-subtle,
  "wvu-neutral--warm-gray-light-subtle": $wvu-neutral--warm-gray-light-bg-subtle,
  "wvu-neutral--warm-gray-medium-subtle": $wvu-neutral--warm-gray-medium-bg-subtle,
  "wvu-neutral--warm-gray-dark-subtle": $wvu-neutral--warm-gray-dark-bg-subtle
);

$custom-colors-bg-subtle-dark: (
  "wvu-blue-subtle-dark": $wvu-blue-bg-subtle-dark,
  "wvu-gold-subtle-dark": $wvu-gold-bg-subtle-dark,
  "wvu-accent--old-gold-subtle-dark": $wvu-accent--old-gold-bg-subtle-dark,
  "wvu-accent--blue-dark-subtle-dark": $wvu-accent--blue-dark-bg-subtle-dark,
  "wvu-accent--blue-subtle-dark": $wvu-accent--blue-bg-subtle-dark,
  "wvu-accent--blue-light-subtle-dark": $wvu-accent--blue-light-bg-subtle-dark,
  "wvu-accent--yellow-subtle-dark": $wvu-accent--yellow-bg-subtle-dark,
  "wvu-accent--sunset-subtle-dark": $wvu-accent--sunset-bg-subtle-dark,
  "wvu-neutral--off-white-subtle-dark": $wvu-neutral--off-white-bg-subtle-dark,
  "wvu-neutral--cream-subtle-dark": $wvu-neutral--cream-bg-subtle-dark,
  "wvu-neutral--tan-subtle-dark": $wvu-neutral--tan-bg-subtle-dark,
  "wvu-neutral--warm-gray-light-subtle-dark": $wvu-neutral--warm-gray-light-bg-subtle-dark,
  "wvu-neutral--warm-gray-medium-subtle-dark": $wvu-neutral--warm-gray-medium-bg-subtle-dark,
  "wvu-neutral--warm-gray-dark-subtle-dark": $wvu-neutral--warm-gray-dark-bg-subtle-dark
);

$dark-theme-colors: (
  "dark": $dark,
  "wvu-blue": $wvu-blue,
  "wvu-accent--old-gold": $wvu-accent--old-gold,
  "wvu-neutral--warm-gray-dark": $wvu-neutral--warm-gray-dark,
  "wvu-accent--blue-dark": $wvu-accent--blue-dark,
  "wvu-accent--blue": $wvu-accent--blue,
  "wvu-accent--green": $wvu-accent--green,
  "wvu-accent--red": $wvu-accent--red
);

$light-theme-colors: (
  "white": #FFF,
  "wvu-gold": $wvu-gold,
  "wvu-neutral--tan": $wvu-neutral--tan,
  "wvu-neutral--off-white": $wvu-neutral--off-white,
  "wvu-neutral--warm-gray-light": $wvu-neutral--warm-gray-light,
  "wvu-neutral--warm-gray-medium": $wvu-neutral--warm-gray-medium,
  "wvu-neutral--cream": $wvu-neutral--cream,
  "wvu-accent--sunset": $wvu-accent--sunset,
  "wvu-accent--blue-light": $wvu-accent--blue-light,
  "wvu-accent--yellow": $wvu-accent--yellow
);

$theme-colors: map-merge($theme-colors, $custom-colors);