{{ $superHeading := "" }}
{{ $superHeadingConfig := "" }}

{{ $heading := "" }}
{{ $headingHierarchy := "" }}
{{ $headingId := "" }}
{{ $headingClasses := "" }}

{{ $subheading := "" }}
{{ $subheadingClasses := "" }}




{{ if .superHeading }}
  {{ $superHeading = .superHeading }}
{{ end }}

{{ if .heading }}
  {{ $heading = .heading }}
{{ end }}

{{ if .subheading }}
  {{ $subheading = .subheading }}
{{ end }}


{{ if .superHeadingConfig }}
  {{ $superHeadingConfig = .superHeadingConfig }}
{{ end }}

{{ if .headingConfig }}
  {{ $headingClasses = partial "utilities/utility-classes.html" .headingConfig }}
{{ end }}

{{ if .subheadingConfig }}
  {{ $subheadingClasses = partial "utilities/utility-classes.html" .subheadingConfig }}
{{ end }}

{{ $headingClasses }}


{{ if .superHeading }}
  {{ partial "components/simple/super-heading.html" ( dict "superHeading" $superHeading "config" $superHeadingConfig )}}
{{ end }}

{{ if .heading }}
  {{ partial "components/simple/heading.html" ( dict "id" $headingId "hierarchy" $headingHierarchy "text" $heading "classes" $headingClasses ) }}
{{ end }}

{{ if .subheading }}
  {{ partial "components/simple/subheading.html" ( dict "text" $subheading "classes" $subheadingClasses ) }}
{{ end }}