{{ $padding := "py-8" }}

{{ if and .layout .layout.padding }}{{ $padding = .layout.padding }}{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section>
    <div class="container {{ $padding }}">
      <div class="row {{ .layout.justify_content }} {{ range .layout.gutters }}{{ . }} {{ end }}">
        {{ range .columns }}
          <div class="{{ range .layout.column_widths }}{{ . }}{{ end }} {{ .layout.text_align }}">
            {{ partial "bookshop_bindings" `.Params.column_blocks` }}
            {{ partial "bookshop_partial" (slice "column" .column_blocks) }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}