{{ $id := "" }}
{{ $ratio := "16x9" }}
{{ $src := "" }}
{{ $alt := "" }}
{{ $title := "" }}

{{ if .video_id }}
  {{ $id = .video_id }}
{{ end }}

{{ if .ratio }}
  {{ $ratio = .ratio }}
{{ end }}

{{ if and .image .image.src }}
  {{ $src = .image.src }}
{{ end }}

{{ if and .image .image.alt }}
  {{ $alt = .image.alt }}
{{ end }}

{{ if .title }}
  {{ $title = .title }}
{{ end }}

<div class="ratio ratio-{{ $ratio }} mb-4">
  <iframe title="{{ $title }}" src="https://www.youtube.com/embed/{{ $id }}" title="{{ $title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>