// WVU BG Pattern
//==================================================
// Adds a WVU-branded background pattern to an element (weave, grid, topo map, etc.)

@mixin wvu-bg-pattern($pattern-type, $is-important: $global-important) {
  @if $pattern-type == 'grid' {
    mask-image: url($wvu-grid-pattern);
    -webkit-mask-image: url($wvu-grid-pattern);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 1000px 1000px $global-important;
    -webkit-mask-size: 1000px 1000px $global-important;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $wvu-z-index-grid;
  }
  @if $pattern-type == 'grid-zoomed' {
    mask-image: url($wvu-grid-pattern-zoomed);
    -webkit-mask-image: url($wvu-grid-pattern-zoomed);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 1000px 1000px $global-important;
    -webkit-mask-size: 1000px 1000px $global-important;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $wvu-z-index-grid;
  }
  @if $pattern-type == 'topo-dark' {
    mask-image: url($wvu-topo-map-black);
    -webkit-mask-image: url($wvu-topo-map-black);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 1000px 1000px $global-important;
    -webkit-mask-size: 1000px 1000px $global-important;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $wvu-z-index-grid;
  }
  @if $pattern-type == 'topo-light' {
    mask-image: url($wvu-topo-map-white);
    -webkit-mask-image: url($wvu-topo-map-white);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 1000px 979px $global-important;
    -webkit-mask-size: 1000px 979px $global-important;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $wvu-z-index-grid;
  }
}

// Usage example:
// .wvu-bg-pattern-gold, %wvu-bg-pattern-gold {
//   @include wvu-bg-pattern(wvu-gold);
// }
