{{ $profileData := slice }}
{{ $vibe := "wvu-ds-vibe-wvu-experience-01"}}
{{ $colorPalette := "wvu-ds-color-palette-01"}}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (.config.hide_collection_pages) }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide collection pages' is currently selected in this component to speed up the editing of other areas - to see the pages here uncheck 'hide collection pages'" ) ) }}
  {{ else }}
    
    {{ if not site.Params.env_bookshop_live }}
      {{ $profileData = where site.RegularPages "Section" "people" }}
    {{ else }}
      {{ $profileData = site.Data.people_data }}
    {{ end }}

    <section class="section-component wvu-ds-student-profiles {{ $vibe }} {{ $colorPalette }} py-6 bg-white">
      <div class="container wvu-z-index-content">
        {{ $student := .student }}
        {{ $superHeading := "" }}
        {{ if .super_heading }}
          {{ $superHeading = .super_heading }}
        {{ end }}
        {{ range $profileData }}

          {{ $item := slice }}

          {{ if not site.Params.env_bookshop_live }}
            {{ $item = .Params }}
          {{ else }}
            {{ $item = . }}
          {{ end }}
        
          {{ if eq $item.uuid $student }}
            <div class="wvu-ds-bg-primary text-white border border-2 border-dark wvu-shadow-hard-dark">
              <div class="row gx-4">
                <div class="col-12 ms-auto">
                  <div class="p-5 w-100 h-100 position-relative">
                    <div class="h-100 position-relative">
                      <div class="w-100 h-100">
                        <div class="row h-100">
                          <div class="wvu-bg-img">
                            <div class="wvu-ds-pattern bg-wvu-accent--blue-light h-100 wvu-z-index-pattern">
                            </div>
                          </div>
                          <div class="col-xxl-17 mx-xxl-auto d-flex justify-content-center align-items-end wvu-z-index-content">
                            <img class="img-fluid mb-n5 mt-n6" src="/uploads/jillian-cutout.webp" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 mx-auto">
                  <div class="wvu-z-index-content position-relative px-5 py-6">
                    {{ if $superHeading }}
                      <div class="wvu-container-box-skewed wvu-container-box-skewed-4 d-inline-block wvu-ds-bg-secondary p-3 pb-2 me-n3 ms-n4 mb-4 mt-n5" style="transform: rotate(-2deg)">
                        <p class="oliviar-black h5 text-uppercase">
                          <span class="d-block">{{ $superHeading.label }}</span>
                          {{ $superHeading.text }}
                        </p>
                      </div>
                    {{ end }}
                    <h3 class="h1 wvu-ds-heading-primary wvu-ds-accent">{{ $item.name }}</h3>
                    <div class="fs-5">
                      <p class="small mb-0">2024 Environmental and Energy Resources Management graduate<br>Wheeling, WV</p>
                      <p class="small mb-0">Davis College of Agriculture and Natural Resources</p>
                      <p class="small mb-0">Education Abroad</p>
                    </div>
                  </div>
                  
                  <!-- <div class="bg-wvu-accent--yellow h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
                    <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
                    <blockquote class="ms-0 border-0 border-wvu-gold">
                      <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
                      <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
                    </blockquote>
                  </div> -->
                  
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}