{{- $color := "text-white" -}}

<div class="d-flex position-relative wvu-z-index-content" style="height: 0px;">
  <div class="position-absolute mt-3 w-100 text-start" style="top: 0px;">
    <div class="container">
      <ul class="list-inline small mt-2 {{ $color }}">
        {{ $breadcrumb := split (replaceRE `\/[0-9]{4}\/[0-9]{2}\/[0-9]{2}` "" (trim .rel_permalink "/" )) "/" }}
        {{ $crumb_link := "/" }}
        {{ $rel_permalink := .rel_permalink }}
        <li class="list-inline-item"><a class="{{ $color }}" href="/">Home</a></li>
        {{ range $breadcrumb }}
          {{ $crumb_link = print $crumb_link . "/" }}
          {{ if ne $rel_permalink $crumb_link }}
            <li class="list-inline-item"><a class="{{ $color }}" href="{{ $crumb_link }}">{{ title (replace . "-" " ") }}</a></li>
          {{ else }}
            <li class="list-inline-item active">{{ title (replace . "-" " ") }}</li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>