<h2>{{ .heading }}</h2>
<ul class="list-unstyled my-5">
  {{ range .items }}
    <li class="position-relative bg-light row gx-0 border-start border-3 border-wvu-accent--blue mb-1">
      <div class="col">
        <div class="p-4">
          <p class="mb-1"><a class="helvetica-neue-bold text-dark text-decoration-none stretched-link" href="{{ .url }}">{{ .text }}</a></p>
          {{ if .list_description }}
            <p class="mb-0">{{ .list_description }}</p>
          {{ end }}
        </div>
      </div>
      {{ if .icon }}
        <div class="col-4 d-flex align-items-center justify-content-center border-start border-1 border-black-50 text-center">
          <div class="p-4 fs-5">
            {{ if eq .icon "PDF" }}
              <p class="mb-0"><span class="fa-solid fa-file-pdf"></span></p>
            {{ else if eq .icon "Link" }}
              <p class="mb-0"><span class="fa-solid fa-link"></span></p>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </li>
  {{ end }}
</ul>