{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section id="calendar-events-1" aria-labelledby="calendar-events-1-label" class="section-component py-6 text-center">
    <div class="wvu-z-index-content">
      <div class="container wvu-z-index-content">
        <h2 id="calendar-events-1-label" class="display-5 wvu-shout wvu-text-letter-spacing-lg mb-5">{{ .heading }}</h2>
        {{ if not site.Params.env_bookshop_live }}
          {{ .event_feed | safeHTML }}
        {{ end }}
        {{ with .postscript }}
          <div class="mt-4">
            {{ partial "bookshop" (slice "design-system/simple/postscript" .) }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}