<div class="wvu-masthead bg-wvu-blue">
  <div class="container">
    <div class="row">
      <div class="align-self-center col">        
        <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none text-white" href="#">
          <span class="visually-hidden">West Virginia University </span>
          <span class="wvu-logo-lockup mt-n1">{{ site.Title }}</span>        
        </a>      
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column">        
        <div class="px-0 flex-grow-1 d-flex align-content-center justify-content-center justify-content-lg-end my-2">          
          <a href="#" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-accent--blue-light">Button 1</a>          
          <a href="#" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-accent--sunset ms-1">Button 2</a>          
          <a href="#" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-gold ms-1">Button 3</a>        
        </div>
      </div>
    </div>
  </div>
</div>