{{ $id := "hero" }}
{{ $ariaLabelledBy := .name | urlize }}
{{ $backgroundColor := "" }}
{{ $src := .poster_image }}
{{ $alt := "" }}
{{ $backgroundColor := "" }}
{{ $textColor := "text-white" }}
{{ $layerStyles := "" }}
{{ $headingColor := "" }}

{{ if not site.Params.env_bookshop_live }}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .image }}
  {{ else }}
    {{ $image = resources.Get .image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}{{ $src = ($image.Fill "960x640 webp").RelPermalink }}{{ end }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  <section id="{{ .name }}" class="section-component py-6 position-relative" aria-labelledby="{{ $ariaLabelledBy }}-label">
    <div class="container position-relative">
      <div class="row">
        <div class="col-24 col-xxl-18 mx-auto position-relative px-0">
          <div class="wvu-container-box-angle wvu-container-box-angle-wvu-accent--blue bg-wvu-blue">
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5 wvu-z-index-content bg-wvu-blue text-white">
                  <div class="wvu-bg-img">
                    {{ if $src }}
                      <img class="object-fit-cover h-100 w-100" src="{{ $src }}" />
                    {{ end }}
                  </div>
                  <div class="wvu-p-max-width">
                    <h2 id="{{ $ariaLabelledBy }}-label" class="display-4 wvu-shout wvu-bar mb-3" data-text="{{ range .heading }}{{ . }}{{ end }}">{{ range .heading }}<span class="d-block">{{ . }}</span>{{ end }}</h2>
      
                    {{ with .lead }}
                      <p class="lead py-1">
                        {{ . }}
                      </p>
                    {{ end }}
            
                    {{ if .body }}
                      <div class="mb-4">
                        {{- range $i, $l := .body }}
                          {{- if eq $i 0 }}
                            <p class="lead">{{- . }}</p>
                          {{- else }}
                            <p>{{ . }}</p>
                          {{- end }}
                        {{- end }}
                      </div>
                    {{ end }}
            
                    {{ if .ctas }}
                      {{ range .ctas }}
                        {{ partial "bookshop" (slice "design-system/generic/button" .) }}
                      {{ end }}
                    {{ end }}
      
                    {{ if .postscript_links }}
                      <p class="mt-3">
                        {{- range $i, $l := .postscript_links }}
                          {{- if gt $i 0 }} | {{- end }}
                          <a class="text-white" href=".url">{{ .text }}{{ if .icon }} <span class="fa-solid fa-{{ .icon }}"></span>{{ end }}</a>
                        {{ end }}
                      </p>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}