{{ $id := "hero" }}
{{ $ariaLabelledBy := "" }}
{{ $image := "" }}
{{ $alt := "" }}
{{ $layerStyles := "" }}

{{ if .background_image }}
  {{ $image = .background_image }}
{{ end }}

{{ if .alt_text }}
  {{ $alt = .alt_text }}
{{ end }}

{{ $stylesSection := "bg-dark text-white" }}
{{ $stylesH2 := "display-2 wvu-shout wvu-bar" }}
{{ $stylesLead := "fs-5" }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section id="{{ $id }}" class="position-relative {{ $stylesSection }}" aria-labelledby="{{ $ariaLabelledBy }}-label">
    {{ partial "bookshop_partial" (slice "section_background" (dict "image" $image "alt" $alt "layerStyles" $layerStyles)) }}
    <div class="container position-relative py-8 py-xxl-9">
      <div class="row">
        <div class="col col-md-14 col-xl-12">
          <div class="wvu-z-index-content">
            <h2 id="{{ $ariaLabelledBy }}-label" class="{{ $stylesH2 }} mb-3" data-text="{{ .heading }}">{{ .heading }}</h2>

            {{ if .lead }}
              <p class="py-1 {{ $stylesLead }}">
                {{ .lead }}
              </p>
            {{ end }}
    
            {{ if .body }}
              <div class="mb-4">
                {{- range $i, $l := .body }}
                  <p>{{ . }}</p>
                {{- end }}
              </div>
            {{ end }}
    
            {{ if .ctas }}
              {{ range .ctas }}
                {{ partial "bookshop" (slice "design-system/generic/button" .) }}
              {{ end }}
            {{ end }}

            {{ if .postscript_links }}
              <p class="mt-3">
                {{- range $i, $l := .postscript_links }}
                  {{- if gt $i 0 }} | {{- end }}
                  <a class="text-white" href=".url">{{ .text }}{{ if .icon }} <span class="fa-solid fa-{{ .icon }}"></span>{{ end }}</a>
                {{ end }}
              </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}