.wvu-ds-student-profiles {
  // Typography and Decoration
  &.wvu-ds-vibe-discovery-01 {
    .wvu-ds-heading-primary {
      @include wvu-shout();
    }
    .wvu-ds-pattern {
      @include wvu-bg-pattern('grid');
    }
  }
  &.wvu-ds-vibe-wvu-experience-01 {
    .wvu-ds-heading-primary {
      @include oliviar-black();
    }
    .wvu-ds-pattern {
      @include wvu-bg-pattern('topo-light');
    }
  }
  // Color Palette
  &.wvu-ds-color-palette-01 {
    .wvu-ds-bg-primary {
      background-color: $wvu-accent--blue $global-important;
      color: white $global-important;
    }
    .wvu-ds-bg-secondary {
      background-color: $wvu-gold $global-important;
      color: $dark $global-important;
    }
    .wvu-ds-accent {
      color: $wvu-accent--yellow $global-important;
    }
  }
  &.wvu-ds-color-palette-02 {
    .wvu-ds-bg-primary {
      background-color: $wvu-accent--sunset $global-important;
      color: white $global-important;
    }
    .wvu-ds-bg-secondary {
      background-color: $wvu-gold $global-important;
      color: $dark $global-important;
    }
    .wvu-ds-accent {
      color: $wvu-accent--yellow $global-important;
    }
  }
}