{{ $topper := "" }}
{{- $color := "bg-white text-dark" -}}

{{ if page.Params.topper }}
  {{ if eq page.Params.topper.topper_type "default" }}
    {{ $color = "text-dark" }}
  {{ end }}
  {{ if and page.Params.topper.styles page.Params.topper.styles.background_c }}
    {{ $color = page.Params.topper.styles.background_c }}
  {{ end }}
{{ else if and page.Params.alumni_profile_topper.styles page.Params.alumni_profile_topper.styles.background_c }}
  {{ $color = page.Params.alumni_profile_topper.styles.background_c }}
{{ else if and page.Params.article_topper.styles page.Params.article_topper.styles.background_c }}
  {{ $color = page.Params.article_topper.styles.background_c }}
{{ else if and page.Params.faculty_profile_topper.styles page.Params.faculty_profile_topper.styles.background_c }}
  {{ $color = page.Params.faculty_profile_topper.styles.background_c }}
{{ else if and page.Params.organization_topper.styles page.Params.organization_topper.styles.background_c }}
  {{ $color = page.Params.organization_topper.styles.background_c }}
{{ else if and page.Params.student_profile_topper.styles page.Params.student_profile_topper.styles.background_c }}
  {{ $color = page.Params.student_profile_topper.styles.background_c }}
{{ end }}

<div class="d-flex position-relative wvu-z-index-breadcrumbs" style="height: 0px;">
  <div class="position-absolute mt-3 w-100 text-start" style="top: 0px;">
    <div class="container">
      <ul class="list-inline d-inline-block small mt-2 {{ $color }} rounded-2 px-2 py-1 mx-n2 my-n1" style="background-color: inherit;">
        {{ $breadcrumb := split (replaceRE `\/[0-9]{4}\/[0-9]{2}\/[0-9]{2}` "" (trim .rel_permalink "/" )) "/" }}
        {{ $crumb_link := "/" }}
        {{ $rel_permalink := .rel_permalink }}
        <li class="list-inline-item me-0"><a class="{{ $color }}" href="/">Home</a></li> / 
        {{ range $breadcrumb }}
          {{ $crumb_link = print $crumb_link . "/" }}
          {{ if ne $rel_permalink $crumb_link }}
            <li class="list-inline-item me-0"><a class="{{ $color }}" href="{{ $crumb_link }}" style="color: inherit;">{{ title (replace . "-" " ") }}</a></li> / 
          {{ else }}
            <li class="list-inline-item active me-0">{{ title (replace . "-" " ") }}</li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>