{{ $title := site.Data.settings.settings.masthead.title }}
{{ $parentOrg := site.Data.settings.settings.masthead.parent_org }}
{{ $socialMediaAccounts := site.Data.settings.settings.social_media_accounts }}
{{ $siteMenu := site.Data.settings.settings.primary_navigation.nav_links }}

{{ with site.Data.settings.settings.footer }}
  <footer data-pagefind-ignore="all">
    <div class="py-6 bg-wvu-accent--blue-dark text-white">
      <div class="container">
        
        <div class="row small">
          <div class="col-md-6 me-auto mb-5">
            <div class="mb-4">
              <h2 class="helvetica-neue-bold h4">
                {{ range $title }}
                  <span class="d-block">{{ . }}</span>
                {{ end }}
              </h2>
              {{ with $parentOrg }}
                <p class="antonia-italic fs-5">{{ .title }}</p>
              {{ end }}
            </div>
            {{ range .contact_info_blocks }}
              {{ if or .address_lines .address_heading }}
                <address class="mb-2">
                  <p class="d-flex mb-2">
                    <span class="d-block" style="width: 20px;">
                      <span class="fa-solid fa-location-dot text-wvu-gold" aria-hidden="true"></span>
                    </span>
                    <span class="d-block">
                    <strong>{{ .address_heading }}</strong>
                      {{ range .address_lines }}
                        <br> {{ . }}
                      {{ end }}
                    </span>
                  </p>
                </address>
              {{ end }}
              {{ with .phone }}
                <p class="d-flex mb-2">
                  <span class="d-block" style="width: 20px;">
                    <span class="fa-solid fa-phone text-wvu-gold" aria-hidden="true"></span>
                  </span>
                  <span class="d-block">
                    <a class="text-decoration-none" href="tel:{{ . | urlize }}">{{ . }}</a>
                  </span>
                </p>
              {{ end }}
              {{ with .email }}
                <p class="d-flex">
                  <span class="d-block" style="width: 20px;">
                    <span class="fa-solid fa-envelope text-wvu-gold" aria-hidden="true"></span>
                  </span>
                  <span class="d-block">
                    <a class="text-decoration-none" href="mailto:{{ . }}">{{ . }}</a>
                  </span>
                </p>
              {{ end }}
            {{ end }}
            {{ if $socialMediaAccounts }}
              <ul class="list-inline mb-0">
                {{ range $socialMediaAccounts }}
                  {{ $class := .platform | urlize }}
                  <li class="list-inline-item">
                    <a class="bg-wvu-gold border border-2 border-wvu-blue text-wvu-blue mb-0 text-decoration-none d-flex align-items-center justify-content-center rounded-circle p-3" href="{{ .url }}">
                      <span class="fab fa-{{ $class }} position-absolute" aria-hidden="true"></span>
                      <span class="visually-hidden">{{ .platform }}</span>
                    </a>
                  </li>          
                {{ end }}
              </ul>
            {{ end }}
          </div>
          <div class="col-md-6 col-xl-4 mb-4 mb-md-0">
            <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold mb-3">Site Menu</h2>
            <ul class="list-unstyled mb-0 lh-sm">
              {{ range $siteMenu }}
                {{ $rel_link := .link | relURL }}
                <li class="mb-3">
                  <a class="text-decoration-none" href="{{ .link }}">{{ .text }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="col-md-6 col-xl-4 mb-4 mb-md-0">
            <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold mb-3">{{ .quicklinks_heading }}</h2>
            <ul class="list-unstyled lh-sm">
              {{ range .quicklinks }}
                <li class="mb-3">
                  <a class="text-decoration-none" href="{{ .url }}">{{ .text }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="col-md-6 col-xl-4">
            <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold mb-3">University Resources</h2>
            <ul class="list-unstyled mb-0 lh-sm">
              <li class="mb-3">
                <a class="text-decoration-none" href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://campusmap.wvu.edu">Campus Map</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://directory.wvu.edu">WVU Directory</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://give.wvu.edu/">Give</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://wvu.joinhandshake.com/login">Handshake</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://alert.wvu.edu/">WVU Alert</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://wvutoday.wvu.edu">WVU Today</a>
              </li>
              <li class="mb-3">
                <a class="text-decoration-none" href="https://portal.wvu.edu">WVU Portal</a>
              </li>
          </div>
        </div>
        {{ if .postscript.show }}
          {{ with .postscript }}
            <div class="d-flex border-top border-bottom border-1 border-wvu-accent--blue-light mt-5 py-4">
              {{ with .text }}
                <h2 class="d-inline-block h5 antonia mb-0 me-3">{{ . }}</h2>
              {{ end }}
              {{ with .items }}
                <ul class="list-inline d-inline-block mb-0">
                  {{ range . }}                  
                    <li class="list-inline-item">
                      {{ if .url }}
                        {{ with .label }}<strong>{{ . }}</strong>{{ end }} <a href="{{ .url }}">{{ .text }}</a></li>
                      {{ else }}
                        {{ with .label }}<strong>{{ . }}</strong>{{ end }} {{ .text }}</a>
                      {{ end }}
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="py-5 bg-wvu-accent--blue-dark-subtle text-white position-relative lh-lg">
      <div class="container wvu-z-index-content py-2">
        <div class="row small">
          <div class="col-md-8 mx-auto text-center align-items-center">
            <div class="d-inline-flex mb-4">
              <img class="me-3" src="https://static.wvu.edu/global/images/logos/wvu/flying-wv-r-small--1.0.0.svg" height="60px" width="56px" alt="Flying WV" />
              <span class="text-wvu-gold config-extra-bold-italic h1 mt-1 d-block h1">Let’s Go!</span>
            </div>
            <h2 class="visually-hidden">West Virginia University</h2>
            <p class="mb-1">© {{ now.Year }}
              <a class="" href="https://www.wvu.edu/">West Virginia University</a>. <span class="wvu-credits__last-edited">Last updated on {{ time.Now | time.Format "Jan 2, 2006" }}.</span>
            </p>
            <ul class="list-inline mb-3">
              <li class="list-inline-item">
                <a class="" href="https://about.wvu.edu/wvu-facts">Accreditations</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="https://webstandards.wvu.edu">Web Standards</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="https://www.wvu.edu/privacy">Privacy Notice</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="text-decoration-none" href="https://www.facebook.com/wvumountaineers">
                  <span class="fa-brands fa-facebook" aria-hidden="true"></span>
                  <span class="visually-hidden">WVU on Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="text-decoration-none" href="https://twitter.com/WestVirginiaU">
                  <span class="fa-brands fa-x-twitter" aria-hidden="true"></span>
                  <span class="visually-hidden">WVU on Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="text-decoration-none" href="https://www.youtube.com/user/westvirginiau">
                  <span class="fa-brands fa-youtube" aria-hidden="true"></span>
                  <span class="visually-hidden">WVU on YouTube</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{{ end }}