<footer>
  <div class="py-6 bg-dark text-white">
    <div class="container">
      <div class="row small">
        <div class="col-12">        
          <address class="mb-4">
            <p>
              <strong>{{ .Site.Params.footer.org_name }}</strong>
              <br> {{ .Site.Params.footer.addr1 }}
              <br> {{ .Site.Params.footer.addr2 }}
              <br>
            </p>
            <p>
              {{ with site.Data.site_config.site_config.phone }}
                {{ range . }}
                  <span class="d-block">
                    <span class="fa-solid fa-phone" aria-hidden="true"></span>
                    <a href="tel:{{ .digits | urlize }}">{{ .digits }}</a>
                  </span>
                {{ end }}
              {{ end }}
              {{ with site.Data.site_config.site_config.email }}
                {{ range . }}
                  <span class="d-block">
                    <span class="fa-solid fa-envelope" aria-hidden="true"></span>
                    <a href="mailto:email@mail.wvu.edu">{{ .address }}</a>
                  </span>
                {{ end }}
              {{ end }}
            </p>
          </address>
        </div>
        <div class="col-6">      </div>
        <div class="col-6">      </div>
      </div>
    </div>
  </div>
  <div class="py-6 bg-dark text-white">
    <div class="container">
      <div class="row small">
        <div class="col-md-6 me-auto">
          <h2>West Virginia University</h2>
          <p>© {{ now.Year }}
            <a class="" href="https://www.wvu.edu/">West Virginia University</a>.
            <br>West Virginia University is an Equal Opportunity Employer.
            <br><span class="wvu-credits__last-edited">Last updated on {{ time.Now | time.Format "Jan 2, 2006" }}.</span>
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="h6">Heading</h2>
          <ul class="list-unstyled lh-lg">
            <li class="list-item">
              <a class="" href="https://about.wvu.edu/wvu-facts">Accreditations</a>
            </li>
            <li class="list-item">
              <a class="" href="https://webstandards.wvu.edu">Web Standards</a>
            </li>
            <li class="list-item">
              <a class="" href="https://www.wvu.edu/privacy">Privacy Notice</a>
            </li>
            <li class="list-item">
              <a class="" href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2 class="h6">Heading</h2>
          <ul class="list-unstyled mb-0 lh-lg">
            <li class="list-item">
              <a class="" href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a>
            </li>
            <li class="list-item">
              <a class="" href="https://campusmap.wvu.edu">Campus Map</a>
            </li>
            <li class="list-item">
              <a class="" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a>
            </li>
            <li class="list-item">
              <a class="" href="https://directory.wvu.edu">WVU Directory</a>
            </li>
            <li class="list-item">
              <a class="" href="https://give.wvu.edu/">Give</a>
            </li>
            <li class="list-item">
              <a class="" href="https://careerservices.wvu.edu/students/handshake-login">Handshake</a>
            </li>
            <li class="list-item">
              <a class="" href="https://alert.wvu.edu/">WVU Alert</a>
            </li>
            <li class="list-item">
              <a class="" href="https://wvutoday.wvu.edu">WVU Today</a>
            </li>
            <li class="list-item">
              <a class="" href="https://portal.wvu.edu">WVU Portal</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled lh-lg">
            <h2 class="h6">Follow WVU</h2>
            <li class="list-item">
              <a class="" href="https://www.facebook.com/wvumountaineers">
                <span class="fa-brands fa-facebook" aria-hidden="true"></span>
                <span>WVU on Facebook</span>
              </a>
            </li>
            <li class="list-item">
              <a class="" href="https://twitter.com/WestVirginiaU">
                <span class="fa-brands fa-twitter" aria-hidden="true"></span>
                <span>WVU on Twitter</span>
              </a>
            </li>
            <li class="list-item">
              <a class="" href="https://www.youtube.com/user/westvirginiau">
                <span class="fa-brands fa-youtube" aria-hidden="true"></span>
                <span>WVU on YouTube</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
