{{ $title := site.Title }}
{{ $socialMediaAccounts := site.Data.settings.settings.social_media_accounts }}
{{ with site.Data.default_content.footer }}
  <footer>
    <div class="py-6 bg-wvu-accent--blue-dark text-white">
      <div class="container">
        
        <div class="row small">
          <div class="col-6 me-auto">
            <div class="mb-5">
              <h2 class="wvu-shout wvu-bar">{{ $title }}</h2>
              <p class="antonia-italic fs-5">Eberly College of Arts and Sciences</p>
            </div>
            <address class="mb-4">
              <p class="d-flex mb-2">
                <span class="d-block" style="width: 20px;">
                  <span class="fa-solid fa-location-dot text-wvu-gold" aria-hidden="true"></span>
                </span>
                <span class="d-block">
                <strong>{{ .address_heading }}</strong>
                  {{ range .address }}
                    <br> {{ . }}
                  {{ end }}
                </span>
              </p>
              <p class="d-flex mb-2">
                <span class="d-block" style="width: 20px;">
                  <span class="fa-solid fa-phone text-wvu-gold" aria-hidden="true"></span>
                </span>
                <span class="d-block">
                  <a class="text-decoration-none" href="tel:{{ .phone | urlize }}">{{ .phone }}</a>
                </span>
              </p>
              <p class="d-flex">
                <span class="d-block" style="width: 20px;">
                  <span class="fa-solid fa-envelope text-light" aria-hidden="true"></span>
                </span>
                <span class="d-block">
                  <a class="text-decoration-none" href="mailto:{{ .email }}">{{ .email }}</a>
                </span>
              </p>
            </address>
            <ul class="list-inline mb-0">
              {{ range $socialMediaAccounts }}
                {{ $class := .platform | urlize }}
                <li class="list-inline-item">
                  <a class="bg-{{ $class }} text-white mb-0 text-decoration-none d-flex align-items-center justify-content-center rounded-circle p-3" href="{{ .url }}">
                    <span class="fab fa-{{ $class }} position-absolute" aria-hidden="true"></span>
                    <span class="visually-hidden">{{ .platform }}</span>
                  </a>
                </li>          
              {{ end }}
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold small">Site Menu</h2>
            <ul class="list-unstyled mb-0 lh-lg">
              <li class="list-item">
                <a class="" href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a>
              </li>
              <li class="list-item">
                <a class="" href="https://campusmap.wvu.edu">Campus Map</a>
              </li>
              <li class="list-item">
                <a class="" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a>
              </li>
              <li class="list-item">
                <a class="" href="https://directory.wvu.edu">WVU Directory</a>
              </li>
              <li class="list-item">
                <a class="" href="https://give.wvu.edu/">Give</a>
              </li>
              <li class="list-item">
                <a class="" href="https://careerservices.wvu.edu/students/handshake-login">Handshake</a>
              </li>
              <li class="list-item">
                <a class="" href="https://alert.wvu.edu/">WVU Alert</a>
              </li>
              <li class="list-item">
                <a class="" href="https://wvutoday.wvu.edu">WVU Today</a>
              </li>
              <li class="list-item">
                <a class="" href="https://portal.wvu.edu">WVU Portal</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold small">Quicklinks</h2>
            <ul class="list-unstyled lh-lg">
              
              <li class="list-item">
                <a class="" href="https://www.facebook.com/wvumountaineers">
                  <span class="fa-brands fa-facebook" aria-hidden="true"></span>
                  <span>WVU on Facebook</span>
                </a>
              </li>
              <li class="list-item">
                <a class="" href="https://twitter.com/WestVirginiaU">
                  <span class="fa-brands fa-twitter" aria-hidden="true"></span>
                  <span>WVU on Twitter</span>
                </a>
              </li>
              <li class="list-item">
                <a class="" href="https://www.youtube.com/user/westvirginiau">
                  <span class="fa-brands fa-youtube" aria-hidden="true"></span>
                  <span>WVU on YouTube</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="h6 wvu-text-letter-spacing-lg wvu-b-label text-uppercase text-wvu-gold small">University Resources</h2>
            <ul class="wvu-ul-chevrons mb-0 lh-lg">
              <li class="list-item">
                <a class="text-decoration-none" href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://campusmap.wvu.edu">Campus Map</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://directory.wvu.edu">WVU Directory</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://give.wvu.edu/">Give</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://careerservices.wvu.edu/students/handshake-login">Handshake</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://alert.wvu.edu/">WVU Alert</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://wvutoday.wvu.edu">WVU Today</a>
              </li>
              <li class="list-item">
                <a class="text-decoration-none" href="https://portal.wvu.edu">WVU Portal</a>
              </li>
          </div>
        </div>
        <div class="d-flex border-top border-bottom border-1 border-wvu-accent--blue-light mt-5 py-4">
          <h2 class="d-inline-block h5 antonia mb-0 me-3">Your journey at the Eberly College of Arts and Sciences</h2>
          <ul class="list-inline d-inline-block mb-0">
            <li class="list-inline-item"><a href="">Departments and Units</a></li>
            <li class="list-inline-item"><a href="">Courses of Study</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-5 bg-wvu-accent--blue-dark-subtle text-white position-relative">
      <div class="container wvu-z-index-content py-2">
        <div class="row small">
          <div class="col-md-8 mx-auto text-center align-items-center">
            <div class="d-inline-flex mb-4">
              <img class="me-3" src="https://static.wvu.edu/global/images/logos/wvu/flying-wv--1.0.0.svg" height="60px" width="56px" />
              <h2 class="text-wvu-gold config-extra-bold-italic h1 mt-1">Let's Go!</h2>
            </div>
            <h2 class="visually-hidden">West Virginia University</h2>
            <p class="mb-1">© {{ now.Year }}
              <a class="" href="https://www.wvu.edu/">West Virginia University</a>. <span class="wvu-credits__last-edited">Last updated on {{ time.Now | time.Format "Jan 2, 2006" }}.</span>
            </p>
            <ul class="list-inline mb-3">
              <li class="list-inline-item">
                <a class="" href="https://about.wvu.edu/wvu-facts">Accreditations</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="https://webstandards.wvu.edu">Web Standards</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="https://www.wvu.edu/privacy">Privacy Notice</a>
              </li>
              <li class="list-inline-item">
                <a class="" href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="text-decoration-none" href="https://www.facebook.com/wvumountaineers">
                  <span class="fa-brands fa-facebook" aria-hidden="true"></span>
                  <span class="visually-hidden">WVU on Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="text-decoration-none" href="https://twitter.com/WestVirginiaU">
                  <span class="fa-brands fa-twitter" aria-hidden="true"></span>
                  <span class="visually-hidden">WVU on Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="text-decoration-none" href="https://www.youtube.com/user/westvirginiau">
                  <span class="fa-brands fa-youtube" aria-hidden="true"></span>
                  <span class="visually-hidden">WVU on YouTube</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{{ end }}