{{ $componentId := .name }}
{{ $ariaLabelledBy := .componentName }}
{{ $isMain := "" }}
{{ if .is_main }}
  {{ $isMain = .is_main }}
{{ end }}
{{ $classes := "" }}
{{ $backgroundImg := "" }}
{{ $backgroundImgConfig := "" }}

{{ $containerClass := "container" }}
{{ $mask := "" }}
{{ $bleed := "" }}

{{ if .classes }}
  {{ $classes = .classes }}
{{ end }}

{{ if .elements.background_image }}
  {{ $backgroundImg = resources.Get .elements.background_image }}
{{ end }}

{{ if .config.background_image }}
  {{ $backgroundImgConfig = .config.background_image }}
{{ end }}

{{ if .config.section.mask }}
  {{ $mask = .config.section.mask }}
{{ end }}

{{ if .config.container_class }}
  {{ $containerClass = .config.container_class }}
{{ end }}

{{ $sectionClasses := partial "utilities/section-classes.html" . }}

{{ if eq $isMain true }}
  <main id="{{ $componentId }}" class="{{ range $sectionClasses }}{{ . }} {{ end }}">
    <div class="{{ $containerClass }} my-auto position-relative">
      {{ partial "components.html" ( dict "elements" .elements "config" .config ) }}
    </div>
  </main>
{{ else }}
  <section id="{{ $componentId }}" aria-labelledby="{{ $ariaLabelledBy }}-label" class="{{ range $sectionClasses }}{{ . }} {{ end }}">
    {{ if .elements.background_image }}
      {{ partial "utilities/bg-img.html" ( dict "image" $backgroundImg "config" $backgroundImgConfig "mask" $mask ) }}
    {{ end }}
    <div class="{{ $containerClass }} my-auto position-relative py-10">
      <div class="mt-n5">
        {{ partial "components/components.html" . }}
      </div>
    </div>
  </section>
{{ end }}