{{ define "main" }}
  {{ if and .Params.author_profile_topper .Params.author_profile_topper._bookshop_name }}
    {{ partial "bookshop_bindings" `(dict "topper" .Params.author_profile_topper "params" .Params)` }}
    {{ partial "bookshop" (slice .Params.author_profile_topper._bookshop_name (dict "topper" .Params.author_profile_topper "params" .Params)) }}
  {{ else }}
    {{ partial "bookshop_bindings" `(dict "topper" .Params.author_profile_topper "params" .Params)` }}
    {{ partial "bookshop" (slice "design-system/topper/author" (dict "topper" .Params.author_profile_topper "params" .Params)) }}
  {{ end }}
  <section class="py-6 wvu-backpage-main wvu-z-index-content">
    <div class="container wvu-z-index-content">
      <div class="row">
        <div class="col-xl-5">
          <div class="me-lg-n5">
            {{ partial "bookshop_bindings" `(dict "text" .Params.quote "size" "fs-5")` }}
            {{ partial "bookshop" (slice "design-system/generic/blockquote" (dict "text" .Params.quote "size" "fs-5")) }}
          </div>
        </div>
        <div class="col-xl-14 ms-xl-auto">
          <div class="bg-white p-6 mt-n9 position-relative" style="z-index: -1;">
            {{ if .Params.heading }}
              {{ partial "bookshop_bindings" `(dict "text" .Params.heading "classes" "h1 oliviar-black mb-5")` }}
              {{ partial "bookshop" (slice "design-system/generic/heading" (dict "text" .Params.heading "classes" "h1 oliviar-black mb-5")) }}
            {{ end }}
            {{ partial "bookshop_bindings" `.Params.detail_blocks` }}
            {{ partial "bookshop_partial" (slice "page" .Params.detail_blocks) }}
          </div>
        </div>
        <div class="col-xl-5">
          <div class="ms-lg-n5">
            {{ partial "bookshop_bindings" `.Params.profile_sidebar_blocks` }}
            {{ partial "bookshop_partial" (slice "page" .Params.profile_sidebar_blocks) }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}