{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  {{ if site.Params.env_bookshop_live }}
    <p>Live editing</p>
  {{ else }}
    {{ $contacts := site.Data.people }}

    <h2 class="h6 oliviar-black mb-4 border-top border-1 border-wvu-blue pt-2">{{ .heading }}</h2>

    {{ range .people }}
      {{ $contact := .person }}
      {{ range $contacts }}
        {{ if and .uuid (eq .uuid $contact) }}
          <div class="row mb-4">
            {{ if .image }}
              <div class="col-8">
                <div class="ratio ratio-1x1">
                  <img class="object-fit" src="{{ .image.src }}" alt="{{ if .image.alt }}{{ .image.alt }}{{ else }}Portrait of {{ .name }}{{ end }}" />
                </div>
              </div>
            {{ end }}
            <div class="col">
              <h3 class="h5">{{ .name }}</h3>
              <p>
                {{ with .phone }}
                  <span class="fa-solid fa-phone"></span> <a href="tel:{{ . }}">{{ . }}</a><br>
                {{ end }}
                {{ with .email }}
                  <span class="fa-solid fa-envelope"></span> <a href="mailto:{{ . }}">{{ . }}</a>
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}