{{ define "main" }}
<div class="audience-prospective_students tone-lets-go bg-option-1">
  {{ $title := .Params.title }}
  {{ $college := .Params.college }}
  {{ with .Params.intro }}
    <div class="row">
      <div class="col-xxl-12 mx-xxl-auto">
        <div class="py-7">
          <div class="container">
            <p class="h6 wvu-b-label">{{ $college }}</p>
            <h2 class="display-4 mt-5 wvu-b-display-heading">{{ $title }}</h2>
            {{ with .intro_lead }}
              <div class="lead mt-5">
                {{ . | markdownify }}
              </div>
            {{ end }}
            <div class="mt-5">
              {{ .intro_text | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  <div class="sticky-top bg-wvu-star-city-blue">
    <div class="container d-flex justify-content-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Degree Plan</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Highlights</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Learn by Doing</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Careers/Outcomes</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Community</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Places</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Admissions</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Tuition and Aid</a></li>
        <li class="list-inline-item"><a class="text-decoration-none d-block p-2" href="">Next Steps</a></li>
      </ul>
    </div>
  </div>
  {{ with .Params.degree_plan }}
    <div class="py-6">
      <div class="container">
        <h2 class="text-center config-extra-bold display-5 mb-6">Your Degree Plan</h2>
        <div class="row gx-xl-6">
          <div class="col-xl-8">
            <div class="lead">
              {{ .degree_plan_intro_text | markdownify }}
            </div>
          </div>
          <div class="col-xl-16">
             <ul class="nav nav-underline mb-4" id="tabs" role="tablist">
                {{ with .coursework }}
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#coursework-tab-pane">Coursework</a>
                  </li>
                {{ end }}
                {{ with .popular_courses }}
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#popular-courses-tab-pane">Popular Courses</a>
                  </li>
                {{ end }}
              </ul>
              <div class="tab-content" id="myTabContent">
                {{ with .coursework }}
                  <div class="tab-pane fade show active" id="coursework-tab-pane" role="tabpanel" aria-labelledby="coursework-tab" tabindex="0">
                    {{ . | markdownify }}
                  </div>
                {{ end }}
                {{ with .popular_courses }}
                  <div class="tab-pane fade" id="popular-courses-tab-pane" role="tabpanel" aria-labelledby="popular-courses-tab" tabindex="0">
                    <div class="row">
                      {{ range . }}
                        <div class="col-lg-6">

                        </div>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
              </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  {{ with .Params.the_wvu_difference }}
    <div class="py-6 wvu-b-subtle">
      <div class="container">
        <div class="text-center">
          <h2 class="display-5 wvu-b-display-heading">The WVU Difference</h2>
          <p class="lead">What sets this program apart from its competitors?</p>
        </div>
        <div class="row">
          <div class="col-xl-16 mx-xl-auto">
            <ul class="list-unstyled mt-6">
              {{ range .difference_items }}
                <li class="fs-4 position-relative ps-5 mb-5"><span class="fa-solid fa-circle-check position-absolute" style="top: 6px; left: 0;"></span>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}