{{ define "main" }}
  {{ if and .Params.organization_topper .Params.organization_topper._bookshop_name }}
    {{ partial "bookshop_bindings" `(dict "topper" .Params.organization_topper "title" .Params.name_of_organization)` }}
    {{ partial "bookshop" (slice .Params.organization_topper._bookshop_name (dict "topper" .Params.organization_topper "title" .Params.name_of_organization)) }}
  {{ else }}
    {{ partial "bookshop_bindings" `(dict "topper" .Params.organization_topper "title" .Params.name_of_organization)` }}
    {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .Params.organization_topper "title" .Params.name_of_organization)) }}
  {{ end }}
  <section class="py-6 wvu-backpage-main">
    <div class="container">
      <div class="row">
        <div class="col-xl-14 ms-xl-auto">
          <div class="bg-white p-6 mt-n9">
            {{ if .Params.heading }}
              {{ partial "bookshop_bindings" `(dict "text" .Params.heading "classes" "h1 oliviar-black mb-5")` }}
              {{ partial "bookshop" (slice "design-system/generic/heading" (dict "text" .Params.heading "classes" "h1 oliviar-black mb-5")) }}
            {{ end }}
            {{ partial "bookshop_bindings" `.Params.detail_blocks` }}
            {{ partial "bookshop_partial" (slice "page" .Params.detail_blocks) }}
          </div>
        </div>
        <div class="col-xl-5">
          <div class="ms-lg-n5">
            {{ partial "bookshop_bindings" `.Params.profile_sidebar_blocks` }}
            {{ partial "bookshop_partial" (slice "page" .Params.profile_sidebar_blocks) }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}