<div class="accordion mb-4" id="accordion">
  {{ range $index, $panel := .panels }}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button{{ if gt $index 0 }} collapsed{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ $index }}" aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}" aria-controls="collapse-{{ $index }}">
          {{ .title }}
        </button>
      </h2>
      <div id="collapse-{{ $index }}" class="accordion-collapse collapse{{ if eq $index 0 }} show{{ end }}" data-bs-parent="#accordion">
        <div class="accordion-body">
          {{ .panel_text | markdownify }}
        </div>
      </div>
    </div>
  {{ end }}
</div>