{{ $panelStyles := "bg-light" }}
{{ $itemHeadingStyles := "iowan-old-style h2" }}
{{ if and .styles .styles.panels }}
  {{ $panelStyles = .styles.panels }}
{{ end }}
{{ if and .styles .styles.item_headings }}
  {{ $itemHeadingStyles = .styles.item_headings }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="position-relative">
    <!-- 
    <div class="wvu-bg-img">
      <div class="position-absolute w-50 h-100 d-flex justify-content-start align-items-end" style="left: 50%">
        <div class="h-100 position-absolute" style="content: ''; transform: skew(340deg); left: 0; width: 200% !important; background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);"></div>
      </div>
    </div>
    -->
    <div class="container-fluid position-relative {{ .layout.margin_y }}">
      {{ if .heading }}
        <div class="row text-center mb-5">
          <div class="col-xl-12 mx-xl-auto">
            <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-accent--blue-dark">{{ .heading }}</h2>
            {{ with .lead }}
              <p class="lead text-wvu-accent--blue-dark">{{ . }}</p>
            {{ end }}
          </div>
        </div>
      {{ end }}
      
      <div class="row gx-0">
        {{ if site.Params.env_bookshop_live }}
          {{ range .items }} 
            <div class="col">
              {{ partial "bookshop_partial" (slice "collection-item-placeholder" .) }}
            </div>
          {{ end }}
        {{ else }}
          {{ range .items }}
            {{ $pageTitle := "" }}
            {{ if .title }}
              {{ $pageTitle = .title }}
            {{ end }}
            <div class="col">
              <div class="position-relative px-5 py-6 h-100 {{ $panelStyles }}">
                <h3 class="{{ $itemHeadingStyles }}">{{ $pageTitle }}</h3>
                {{ with .text }}
                  <p>{{ . }}</p>
                {{ end }}
                {{ if .ctas }}
                  {{ range .ctas }}
                    {{ partial "bookshop" (slice "design-system/generic/button" .) }}
                  {{ end }}
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}

      </div>
    </div>
  </section>
{{ end }}