.btn {
  text-decoration: none $global-important;
  &::after {
    content: ' ';
  }
}

@each $text-color, $text-value in $theme-colors {
  .text-#{$text-color} {
    a:link:not(.btn), a:visited:not(.btn) {
      color: inherit;
    }
  }
}
