* > .btn {
  &:not(:first-child) {
    margin-left: 5px;
  }
}

@each $text-color, $text-value in $theme-colors {
  .text-#{$text-color} {
    a:link:not(.btn), a:visited:not(.btn) {
      color: inherit;
    }
  }
}
