@font-face {
	font-family: 'OliviarSansBlack';
	src: url('/fonts/oliviar-black/oliviar-black.woff2') format('woff2'),
	     url('/fonts/oliviar-black/oliviar-black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OliviarSansBlackItalic';
	src: url('/fonts/oliviar-black-italic/oliviar-black-italic.woff2') format('woff2'),
	     url('/fonts/oliviar-black-italic/oliviar-black-italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OliviarSansThin';
	src: url('/fonts/oliviar-thin/oliviar-thin.woff2') format('woff2'),
	     url('/fonts/oliviar-thin/oliviar-thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Rustica";
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/rustica/Rustica_italic_normal_900.woff2') format('woff2'), url('/fonts/rustica/Rustica_italic_normal_900.woff') format('woff');
}
