<div id="learn-by-doing" class="py-6 audience-general tone-lets-go bg-option-1">
  <div class="container">
    <div class="row mb-5">
      <div class="col-xl-12 mx-xl-auto text-center">
        <h2 class="display-4"><span class="text-uppercase">Learn</span> <span class="antonia-light-italic">by Doing</span></h2>
        <p class="lead">Learning happens outside the classroom. Get involved.</p>
      </div>
    </div>
    <div class="row gx-xl-5">
      <div class="col-xl-8">
        <ul class="nav flex-column mb-4" id="tabsLearnByDoing" role="tablist">
          {{ with .research_and_academic_opportunities }}
            <li class="nav-item position-relative ps-4 fs-4 border-bottom border-2 border-wvu-coal">
              <span class="fa-layers position-absolute fs-4" style="top: 20px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span><a class="nav-link active text-dark py-3" data-bs-toggle="tab" href="#research-and-academic-opportunities-tab-pane">Research and Academic Opportunities</a>
            </li>
          {{ end }}
          {{ with .student_organizations }}
            <li class="nav-item position-relative ps-4 fs-4 border-bottom border-2 border-wvu-coal">
              <span class="fa-layers position-absolute fs-4" style="top: 20px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span><a class="nav-link text-dark py-3" data-bs-toggle="tab" href="#student-organizations-tab-pane">Student Organizations</a>
            </li>
          {{ end }}
          {{ with .professional_organizations }}
            <li class="nav-item position-relative ps-4 fs-4 border-bottom border-2 border-wvu-coal">
              <span class="fa-layers position-absolute fs-4" style="top: 20px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span><a class="nav-link text-dark py-3" data-bs-toggle="tab" href="#professional-organizations-tab-pane">Professional Organizations</a>
            </li>
          {{ end }}
          {{ with .internships }}
            <li class="nav-item position-relative ps-4 fs-4 border-bottom border-2 border-wvu-coal">
              <span class="fa-layers position-absolute fs-4" style="top: 20px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span><a class="nav-link text-dark py-3" data-bs-toggle="tab" href="#internships-tab-pane">Internships</a>
            </li>
          {{ end }}
          {{ with .skills_you_ll_gain }}
            <li class="nav-item position-relative ps-4 fs-4 border-bottom border-2 border-wvu-coal">
              <span class="fa-layers position-absolute fs-4" style="top: 20px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span><a class="nav-link text-dark py-3" data-bs-toggle="tab" href="#skills-you-ll-gain-tab-pane">Skills You’ll Gain</a>
            </li>
          {{ end }}
          {{ with .living_learning_communities }}
            <li class="nav-item position-relative ps-4 fs-4 border-bottom border-2 border-wvu-coal">
              <span class="fa-layers position-absolute fs-4" style="top: 20px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span><a class="nav-link text-dark py-3" data-bs-toggle="tab" href="#living-learning-communities-tab-pane">Living-Learning Communities</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-xl-16">
        <div class="tab-content wvu-backpage-main" id="myTabContentLearnByDoing">
          {{ with .research_and_academic_opportunities }}
            <div class="tab-pane fade show active fs-5" id="research-and-academic-opportunities-tab-pane" role="tabpanel" aria-labelledby="research-and-academic-opportunities-tab" tabindex="0">
              {{ . | markdownify }}
            </div>
          {{ end }}
          {{ with .student_organizations }}
            <div class="tab-pane fade" id="student-organizations-tab-pane" role="tabpanel" aria-labelledby="student-organizations-tab" tabindex="0">
              <p class="fs-4 mb-4 antonia-italic">Connect with other students who share your academic interests as a member of:</p>
              {{ $studentOrganization := "" }}
              {{ $studentOrganizationsData := site.Data.program_data.student_organizations }}
              <ul class="wvu-ul-slashes mb-4 fs-5">
                {{ range . }}
                  {{ $studentOrganization := "" }}
                  {{ $uuid := . }}
                  {{ range $studentOrganizationsData }}
                    {{ if eq $uuid .uuid }}
                      {{ $studentOrganization = . }}
                      {{ break }}
                    {{ end }}
                  {{ end }}
                  {{ with $studentOrganization }}
                    <li><a href="{{ .url }}">{{ .title }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
              <p>View all of the <a href="https://wvuengage.wvu.edu/organizations">student organizations</a> you can join.</p>
            </div>
          {{ end }}
          {{ with .professional_organizations }}
            <div class="tab-pane fade" id="professional-organizations-tab-pane" role="tabpanel" aria-labelledby="professional-organizations-tab" tabindex="0">
              <p class="fs-4 mb-4 antonia-italic">Network with professionals in your field as a student member of:</p>
              {{ $professionalOrganization := "" }}
              {{ $professionalOrganizationsData := site.Data.program_data.professional_organizations }}
              <ul class="wvu-ul-slashes mb-4 fs-5">
                {{ range . }}
                  {{ $professionalOrganization := "" }}
                  {{ $uuid := . }}
                  {{ range $professionalOrganizationsData }}
                    {{ if eq $uuid .uuid }}
                      {{ $professionalOrganization = . }}
                      {{ break }}
                    {{ end }}
                  {{ end }}
                  {{ with $professionalOrganization }}
                    <li><a href="{{ .url }}">{{ .title }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          {{ end }}
          {{ with .internships }}
            <div class="tab-pane fade" id="internships-tab-pane" role="tabpanel" aria-labelledby="internships-tab" tabindex="0">
              <div class="fs-5">
                {{ . | markdownify }}
              </div>
            </div>
          {{ end }}
          {{ with .skills_you_ll_gain }}
            <div class="tab-pane fade" id="skills-you-ll-gain-tab-pane" role="tabpanel" aria-labelledby="skills-you-ll-gain-tab" tabindex="0">
              <p class="fs-4 mb-4 antonia-italic">Attending college will prepare you for many things. The Sport Management major will give you the following skills:</p>
              <ul class="wvu-ul-slashes mb-4 fs-5">
                {{ range . }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
          {{ with .living_learning_communities }}
            <div class="tab-pane fade" id="living-learning-communities-tab-pane" role="tabpanel" aria-labelledby="living-learning-communities-tab" tabindex="0">
              <p class="fs-4 mb-4 antonia-italic">Live, study and pursue outside-the-classroom learning in a <a href="https://housing.wvu.edu/housing-options/living-and-learning-communities">residence hall community</a> that shares your interests:</p>
              {{ $livingLearningCommunity := "" }}
              {{ $livingLearningCommunitiesData := site.Data.program_data.living_learning_communities }}
              <ul class="wvu-ul-slashes mb-4 fs-5">
                {{ range . }}
                  {{ $livingLearningCommunity := "" }}
                  {{ $uuid := . }}
                  {{ range $livingLearningCommunitiesData }}
                    {{ if eq $uuid .uuid }}
                      {{ $livingLearningCommunity = . }}
                      {{ break }}
                    {{ end }}
                  {{ end }}
                  {{ with $livingLearningCommunity }}
                    <li><a href="{{ .url }}">{{ .title }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>