<div class="py-6 audience-prospective_students tone-loud bg-option-5">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-xl-16 mx-xl-auto">
        <h2 class="wvu-b-label">Ready to take the next step?</h2>
        <p class="lead">Learn how to join the WVU family.</p>
      </div>
    </div>
    <div class="row gx-lg-5">
      <div class="col-lg mb-5 mb-lg-0">
        <h2 class="wvu-b-display-heading"><span class="wvu-b-font-adjust">Request Info</span></h2>
        <p>Want to know more about {{ .Params.short_name }} at WVU? Fill out our request form to receive more information.</p>
        <div>
          <a class="btn wvu-b-btn mb-1" href="https://admissions.wvu.edu/request-information">Request Info</a>
        </div>
      </div>
      <div class="col-lg mb-5 mb-lg-0">
        <h2 class="wvu-b-display-heading"><span class="wvu-b-font-adjust">Visit</span></h2>
        <p>Experiencing campus is the best way to see if WVU is the right fit. Choose from in-person and virtual options.</p>
        <div>
          <a class="btn wvu-b-btn mb-1" href="https://www.wvu.edu/admissions/experience-wvu">Visit WVU</a>
        </div>
      </div>
      <div class="col-lg">
        <h2 class="wvu-b-display-heading"><span class="wvu-b-font-adjust">Apply</span></h2>
        <p>Your first step to becoming a Mountaineer is applying for admission using our convenient online application.</p>
        <div>
          <a class="btn wvu-b-btn mb-1" href="https://admissions.wvu.edu/how-to-apply">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>