<div id="highlights" class="py-6 audience-prospective_students tone-lets-go bg-option-4">
  <div class="container my-n8 my-xxl-n9">
    <div class="row">
      <div class="col-xxl-16 mx-xxl-auto">
        <div class="wvu-b-border wvu-b-shadow p-6 bg-wvu-not-quite-white">
          <div class="text-center">
            <h2 class="display-5 wvu-b-display-heading">The WVU Difference</h2>
            <p class="lead">What sets this program apart from its competitors?</p>
          </div>
          <ul class="list-unstyled mt-6">
            {{ range .difference_items }}
              <li class="fs-4 position-relative ps-5 mb-5"><span class="fa-layers position-absolute fs-4" style="top: 6px; left: 0;"><span class="fa-inverse fa-solid fa-circle text-wvu-gold"></span><span class="fa-regular fa-circle-plus"></span></span>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>