{{ $peopleData := slice }}
{{ $name := "" }}
{{ $image := "" }}
{{ $hometown := "" }}
{{ $majors := slice }}
{{ $graduationYear := "" }}

{{ $vibe := "wvu_experience" }}
{{ $styles := slice }}

{{ if .styles.vibe }}
  {{ $vibe = .styles.vibe }}
{{ end }}

{{ if not .config.hide_collection_pages }}

  {{ $vibes := site.Data.styles.components_column_sm_student_profile_vibes }}

  {{ with $vibe }}
    {{ with (index $vibes .) }}
      {{ $styles = . }}
    {{ end }}
  {{ end }}

  {{ if .student }}
    {{ $peopleData = site.Data.people_data }}
    {{ $student := .student }}

    {{ range $peopleData }}
      {{ if eq .uuid $student }}
        {{ $name = .name }}
        {{ $hometown = .hometown }}
        {{ $majors = .majors }}
        {{ $graduationYear = .graduation_year }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}

{{ if .name }}
  {{ $name = .name }}
{{ end }}

{{ if .image }}
  {{ $image = .image }}
{{ end }}

{{ if .hometown }}
  {{ $hometown = .hometown }}
{{ end }}

{{ if .majors }}
  {{ $majors = .majors }}
{{ end }}

{{ if .graduation_year }}
  {{ $graduationYear = .graduation_year }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (.config.hide_collection_pages) .student }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide collection pages' is currently selected in this component to speed up the editing of other areas - to see the pages here uncheck 'hide collection pages'" ) ) }}
  {{ else }}
    
    <div class="{{ .styles.container }}">
      <div class="row gx-0">
        <div class="col-9">
          <div class="{{ .styles.image_margin }}">
            <div class="ratio ratio-1x1 bg-light {{ .styles.image_container }}">
              {{ if $image }}
                {{ $alt := printf "%s%s" "Portrait of " .name }}
                {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" $image "width" 960 "height" 960 "classes" "object-fit-cover" "alt" $alt)) }}
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-15">
          {{ if $graduationYear }}
            <div class="{{ .styles.label }}">
              <p>
                <span class="d-block">Class of {{ $graduationYear }}</span>
              </p>
            </div>
          {{ end }}
          <div class="">
            <h3 class="wvu-shout {{ .styles.heading }}">{{ $name }}</h3>
            {{ if $hometown }}
              <p class="fs-5 {{ .styles.hometown }}">{{ $hometown }}</p>
            {{ end }}
          </div>
        </div>
        <div class="col-24 p-4">
          {{ with $majors }}
            <p><span class="wvu-shout text-wvu-accent--yellow">Programs:</span> {{ range . }}{{ . }}; {{ end }}</p>
          {{ end }}
        </div>
      </div>
    </div>

  {{ end }}

{{ end }}