{{ $position := "" }}

{{ if not site.Params.env_bookshop_live }}
  {{ $position = "position-absolute" }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="d-flex align-items-center justify-content-center">
    <div id="page-collection-icons-2" aria-labelledby="page-collection-icons-2-label" class="py-5 text-center {{ $position }} w-100">  
      <div class="container wvu-z-index-content">
        <div class="row justify-content-center">
          <div class="col-xxl-18">
            {{ partial "bookshop_partial" (slice "icon_bar" .items) }}
          </div>     
        </div>    
      </div>
    </div>
  </section>
{{ end }}