.wvu-gradient-wvu-blue-blue {
  @include wvu-gradient-wvu-blue-blue();
}
.wvu-gradient-blue-dark-wvu-blue {
  @include wvu-gradient-blue-dark-wvu-blue();
}
.wvu-gradient-wvu-gold-yellow {
  @include wvu-gradient-wvu-gold-yellow();
}
.wvu-gradient-wvu-gold-cream {
  @include wvu-gradient-wvu-gold-cream();
}
.wvu-gradient-wvu-gold-tan {
  @include wvu-gradient-wvu-gold-tan();
}
.wvu-gradient-warm-gray-medium-warm-gray-light {
  @include wvu-gradient-warm-gray-medium-warm-gray-light();
}
.wvu-gradient-warm-gray-light-off-white {
  @include wvu-gradient-warm-gray-light-off-white();
}
.wvu-gradient-warm-gray-medium-off-white {
  @include wvu-gradient-warm-gray-medium-off-white();
}
.wvu-gradient-tan-cream {
  @include wvu-gradient-tan-cream();
}

.bg-gradient-wvu-blue-accent-blue-accent-blue-light {
  background-color: $wvu-blue;
  background-image:
    linear-gradient(200deg, rgba(0, 98, 163, 1), transparent),
    linear-gradient(300deg, rgba(0, 40, 85, 1), transparent),
    linear-gradient(100deg, rgba(157, 218, 230, 1), transparent);
  color: white $global-important;
}