.wvu-b-label {
  font-family: $helvetica-neue-condensed-black $global-important;
  letter-spacing: $wvu-letter-spacing-width-lg $global-important;
  text-transform: uppercase $global-important;
}

$border: 3px solid $dark;

$section-styles: (
  // General
  "general": (
    "1": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "shout",
      "display-heading-size": "",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-blue,
          "text": white,
          "accent": $wvu-gold,
          "pattern": ""
        ),
        "2": (
          "background": $wvu-gold,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        ),
        "3": (
          "background": "transparent",
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        )
      )
    ),
    "2": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "shout",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-neutral--off-white,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        ),
        "2": (
          "background": $wvu-neutral--cream,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        ),
        "3": (
          "background": $wvu-neutral--warm-gray-dark,
          "text": white,
          "accent": $wvu-gold,
          "pattern": ""
        )
      )
    ),
    "3": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "shout",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--blue-light,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": $wvu-blue
        ),
        "2": (
          "background": $wvu-accent--blue,
          "text": white,
          "accent": $wvu-gold,
          "pattern": $wvu-accent--blue-light
        ),
        "3": (
          "background": $wvu-accent--blue-dark,
          "text": white,
          "accent": $wvu-gold,
          "pattern": $wvu-accent--blue-light
        )
      )
    ),
    "4": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "shout",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-neutral--off-white,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": $wvu-gold,
          "gradient": $wvu-gradient-wvu-gold-accent-yellow-accent-sunset,
          "breadcrumbs-bg": $wvu-gold,
          "breadcrumbs-text": $wvu-blue
        ),
        "2": (
          "background": $wvu-accent--blue,
          "text": white,
          "accent": $wvu-gold,
          "pattern": $wvu-accent--blue,
          "gradient": $wvu-gradient-wvu-blue-accent-blue-accent-blue-light
        ),
        "3": (
          "background": $wvu-neutral--off-white,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": $wvu-gold,
          "gradient": $wvu-gradient-wvu-gold-accent-yellow-accent-sunset
        )
      )
    )
  ),
  // Leaders and Partners
  "leaders_partners": (
    "1": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "shout",
      "display-heading-shadow": "",
      "display-heading-outline": "",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-neutral--cream,
          "text": $wvu-accent--blue-dark,
          "accent": $wvu-accent--blue-dark,
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "2": (
      "pattern": "",
      "border": "2px solid",
      "shadow": "true",
      "display-heading": $iowan-old-style,
      "display-heading-shadow": "",
      "display-heading-outline": "",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-neutral--warm-gray-medium,
          "text": "",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "3": (
      "pattern": "",
      "border": "2px solid",
      "shadow": "true",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "4": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "config",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "white",
          "accent": "",
          "pattern": ""
        )
      )
    ),
  ),
  // Parents
  "parents": (
    "1": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "shout",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-blue,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-blue,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-blue,
          "text": white,
          "accent": $wvu-accent--sunset,
          "pattern": ""
        )
      )
    ),
    "2": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "3": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "config",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "white",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "4": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "config",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "white",
          "accent": "",
          "pattern": ""
        )
      )
    ),
  ),
  // Alumni
  "alumni": (
    "1": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "shout",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-blue,
          "text": white,
          "accent": $wvu-gold,
          "pattern": ""
        ),
        "2": (
          "background": $wvu-gold,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        ),
        "3": (
          "background": $white,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        )
      )
    ),
    "2": (
      "pattern": "",
      "border": "",
      "shadow": "",
      "display-heading": "antonia-bold",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-neutral--off-white,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        ),
        "2": (
          "background": $wvu-neutral--cream,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        ),
        "3": (
          "background": $wvu-neutral--warm-gray-light,
          "text": $wvu-blue,
          "accent": $wvu-blue,
          "pattern": ""
        )
      )
    ),
    "3": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "antonia-black-italic",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "white",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "4": (
      "pattern": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "antonia-black-italic",
      "display-heading-shadow": "false",
      "display-heading-outline": "false",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--sunset,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "text": "white",
          "accent": "",
          "pattern": ""
        )
      )
    )
  ),
  // Prospective Students
  "prospective_students": (
    "1": (
      "pattern": "",
      "border": $border,
      "shadow": "",
      "display-heading": "config",
      "display-heading-shadow": "",
      "display-heading-outline": "false",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-blue,
          "text": white,
          "accent": $wvu-gold,
          "pattern": ""
        ),
        "2": (
          "background": $wvu-blue,
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-blue,
          "text": white,
          "accent": $wvu-accent--sunset,
          "pattern": ""
        )
      )
    ),
    "2": (
      "pattern": "",
      "border": $border,
      "shadow": "",
      "display-heading": "config",
      "display-heading-shadow": "",
      "display-heading-outline": "",
      "display-heading-case": none,
      "color-palettes": (
        "1": (
          "background": $wvu-accent--sunset,
          "subtle": "shade",
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "2": (
          "background": $wvu-accent--yellow,
          "subtle": "tint",
          "text": "",
          "accent": "",
          "pattern": ""
        ),
        "3": (
          "background": $wvu-accent--sunset,
          "subtle": "shade",
          "text": "",
          "accent": "",
          "pattern": ""
        )
      )
    ),
    "3": (
      "pattern": "",
      "gradient": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "config",
      "display-heading-shadow": "true",
      "display-heading-outline": "true",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-blue,
          "subtle": "shade",
          "text": white,
          "accent": $wvu-gold,
          "pattern": $wvu-accent--blue-light
        ),
        "2": (
          "background": $wvu-accent--blue,
          "subtle": "shade",
          "text": white,
          "accent": $wvu-accent--yellow,
          "pattern": $wvu-accent--blue-light
        ),
        "3": (
          "background": $wvu-accent--yellow,
          "subtle": "tint",
          "text": $dark,
          "accent": $wvu-accent--blue,
          "pattern": $wvu-accent--old-gold
        )
      )
    ),
    "4": (
      "pattern": "",
      "gradient": "",
      "border": $border,
      "shadow": "true",
      "display-heading": "config",
      "display-heading-shadow": "true",
      "display-heading-outline": "true",
      "display-heading-case": uppercase,
      "color-palettes": (
        "1": (
          "background": $wvu-blue,
          "subtle": "shade",
          "text": white,
          "accent": $wvu-gold,
          "pattern": $wvu-accent--blue-light
        ),
        "2": (
          "background": $wvu-accent--blue,
          "subtle": "shade",
          "text": white,
          "accent": $wvu-accent--yellow,
          "pattern": $wvu-accent--blue-light
        ),
        "3": (
          "background": $wvu-accent--yellow,
          "subtle": "tint",
          "text": $dark,
          "accent": $wvu-accent--blue,
          "pattern": $wvu-accent--old-gold
        )
      )
    )
  )
);

$wvu-b-bg-color: "";
$wvu-b-text-color: "";
$wvu-b-breadcrumbs-bg-color: "";
$wvu-b-breadcrumbs-text-color: "";

@each $audience, $tones in $section-styles {
  .site-audience-#{$audience} :not(.override-audience-styles-site) {
    @each $tone, $properties in $tones {
      @if $tone == "1" {
        .tone- {
          @each $property, $value in $properties {
            @if $property == "display-heading" and $value != "" {
              .wvu-b-display-heading {
                @if $value == "config" {
                  @include config();
                  .wvu-b-font-adjust {
                    font-size: 1.2em $global-important;
                  }
                } @else if $value == "shout" {
                  @include wvu-shout();
                } @else if $value == "antonia" {
                  @include antonia();
                } @else if $value == "antonia-bold" {
                  @include antonia-bold();
                } @else if $value == "antonia-italic" {
                  @include antonia-italic();
                } @else if $value == "antonia-bold-italic" {
                  @include antonia-bold-italic();
                } @else if $value == "antonia-heavy" {
                  @include antonia-heavy();
                } @else if $value == "antonia-heavy-italic" {
                  @include antonia-heavy-italic();
                } @else if $value == "antonia-black" {
                  @include antonia-black();
                } @else if $value == "antonia-black-italic" {
                  @include antonia-black-italic();
                } @else {
                  font-family: $value $global-important;
                }
              }
            } @else if $property == "display-heading-case" and $value != "" {
              .wvu-b-display-heading {
                text-transform: $value $global-important;
              }
            } @else if $property == "shadow" and $value == "true" {
              .wvu-b-shadow {
                filter: drop-shadow(-10px 10px rgba(50, 50, 0, 0.15));
              }
            } @else if $property == "display-heading-shadow" and $value == "true" {
              .wvu-b-text-shadow {
                filter: drop-shadow(-10px 10px rgba(50, 50, 0, 0.15));
              }
            // } @else if $property == "display-heading-outline" and $value == "true" {
            //   .wvu-b-text-outline {
            //     @include wvu-text-outline();
            //   }
            } @else if $property == "label" {
              .wvu-b-label {
                font-family: $value $global-important;
              }
            } @else if $property == "border" and $value != "" {
              .wvu-b-border {
                border: $value $global-important;
              }
            }
          }
        }
      }
    }
  }
}

@each $audience, $tones in $section-styles {
  .audience-#{$audience} {
    @each $tone, $properties in $tones {
      &.tone-#{$tone} {
        @each $property, $value in $properties {
          @if $property == "display-heading" and $value != "" {
            .wvu-b-display-heading {
              @if $value == "config" {
                @include config();
                .wvu-b-font-adjust {
                  font-size: 1.2em $global-important;
                }
              } @else if $value == "shout" {
                @include wvu-shout();
              } @else if $value == "antonia" {
                @include antonia();
              } @else if $value == "antonia-bold" {
                @include antonia-bold();
              } @else if $value == "antonia-italic" {
                @include antonia-italic();
              } @else if $value == "antonia-bold-italic" {
                @include antonia-bold-italic();
              } @else if $value == "antonia-heavy" {
                @include antonia-heavy();
              } @else if $value == "antonia-heavy-italic" {
                @include antonia-heavy-italic();
              } @else if $value == "antonia-black" {
                @include antonia-black();
              } @else if $value == "antonia-black-italic" {
                @include antonia-black-italic();
              } @else {
                font-family: $value $global-important;
              }
            }
          } @else if $property == "display-heading-case" and $value != "" {
            .wvu-b-display-heading {
              text-transform: $value $global-important;
            }
          } @else if $property == "shadow" and $value == "true" {
            .wvu-b-shadow {
              filter: drop-shadow(-10px 10px rgba(50, 50, 0, 0.15));
            }
          } @else if $property == "display-heading-shadow" and $value == "true" {
            .wvu-b-text-shadow {
              filter: drop-shadow(-10px 10px rgba(50, 50, 0, 0.15));
            }
          // } @else if $property == "display-heading-outline" and $value == "true" {
          //   .wvu-b-text-outline {
          //     @include wvu-text-outline();
          //   }
          } @else if $property == "label" {
            .wvu-b-label {
              font-family: $value $global-important;
            }
          } @else if $property == "border" and $value != "" {
            .wvu-b-border {
              border: $value $global-important;
            }
          } @else if $property == "color-palettes" {
            @each $option, $values in $value {
              &.bg-option-#{$option}, .bg-option-#{$option} {
                @each $element, $color in $values {
                  @if $element == "background" and $color != "" {
                    background-color: $color $global-important;
                    $wvu-b-bg-color: $color !global;
                    @if $color == "transparent" {
                      $wvu-b-text-color: white !global;
                    } @else {
                      $wvu-b-text-color: $color !global;
                    }
                  } @else if $element == "subtle" and $color != "" {
                    @if $color == "shade" {
                      &.wvu-b-subtle {
                        background-color: tint($wvu-b-bg-color, 15%) !important;
                      }
                    } @else if $color == "tint" {
                      &.wvu-b-subtle {
                        background-color: tint($wvu-b-bg-color, 50%) !important;
                      }
                    }
                  } @else if $element == "text" and $color != "" {
                    color: $color $global-important;
                  } @else if $element == "accent" and $color != "" {
                    .wvu-b-accent-text {
                      color: $color $global-important;
                    }
                    .wvu-b-accent-bg {
                      background-color: $color $global-important;
                      color: $wvu-b-text-color $global-important;
                    }
                  } @else if $element == "pattern" and $color != "" {
                    .wvu-b-pattern-color {
                      background-color: $color $global-important;
                    }
                  } @else if $element == "gradient" and $color != "" {
                    .wvu-b-gradient {
                      background: $color;
                    }
                    .wvu-b-pattern-color {
                      opacity: 1 $global-important;
                    }
                  } @else if $element == "breadcrumbs-bg" and $color != "" {
                    $wvu-b-breadcrumbs-bg-color: $color !global;
                  } @else if $element == "breadcrumbs-text" and $color != "" {
                    $wvu-b-breadcrumbs-text-color: $color !global;
                  }
                }
              }
            }
          }
        }
        .wvu-b-breadcrumbs {
          background-color: $wvu-b-breadcrumbs-bg-color $global-important;
          color: $wvu-b-breadcrumbs-text-color $global-important;
          a:link, a:visited {
            color: $wvu-b-breadcrumbs-text-color $global-important;
          }
        }
      }
    }
  }
}