.wvu-gradient-wvu-blue-blue {
  background: rgb(0,40,85);
  background: linear-gradient(122deg, rgba(0,40,85,1) 0%, rgba(0,98,163,1) 100%);
}

.wvu-gradient-blue-light-blue {
  background: rgb(0,98,163);
  background: linear-gradient(122deg, rgba(0,98,163,1) 0%, rgba(157,218,230,1) 100%);
}

.wvu-gradient-sunset-gold {
  background: rgb(245,134,114);
  background: linear-gradient(122deg, rgba(245,134,114,1) 0%, rgba(234,170,0,1) 100%);
}

.wvu-gradient-gold-yellow {
  background: rgb(234,170,0);
  background: linear-gradient(61deg, rgba(234,170,0,1) 0%, rgba(255,229,57,1) 100%);
}

.wvu-gradient-sunset-light-blue {
  background: rgb(245,134,114);
  background: linear-gradient(122deg, rgba(245,134,114,1) 0%, rgba(157,218,230,1) 100%);
}

.wvu-gradient-warm-gray-light-warm-gray-medium {
  background: rgb(190,183,179);
  background: linear-gradient(260deg, rgba(190,183,179,1) 0%, rgba(152,142,139,1) 100%);
}

.wvu-gradient-wvu-blue-blue-blue-light {
  background: rgb(0,40,85);
  background: linear-gradient(90deg, rgba(0,40,85,1) 20%, rgba(0,98,163,1) 72%, rgba(157,218,230,1) 100%);
}