// Primary

$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Accent

$wvu-accent--old-gold: #7F6310;
$wvu-accent--blue-dark: #1C2B39;
$wvu-accent--blue: #0062A3;
$wvu-accent--blue-light: #9DDAE6;
$wvu-accent--yellow: #FFE539;
$wvu-accent--sunset: #F58672;

// Neutral

$wvu-neutral--off-white: #F7F7F7;
$wvu-neutral--cream: #F2E6C2;
$wvu-neutral--tan: #B3A169;
$wvu-neutral--warm-gray-light: #BEB7B3;
$wvu-neutral--warm-gray-medium: #988E8B;
$wvu-neutral--warm-gray-dark: #554741;