{{ define "componentContent" }}
  {{ $elements := "" }}
  {{ $config := "" }}
  {{ $cols := "col-xl-5 col-lg-6 col-md-12" }}
  {{ $superHeading := "" }}
  {{ $superHeadingConfig := "" }}
  {{ $heading := "" }}
  {{ $headingConfig := "" }}
  {{ $subheading := "" }}
  {{ $subheadingConfig := "" }}
  {{ $buttons := "" }}
  {{ $buttonsConfig := "" }}

  {{ if .elements }}
    {{ $elements = .elements }}
    {{ if .elements.super_heading }}
      {{ $superHeading = .elements.super_heading }}
    {{ end }}
    {{ if .elements.heading }}
      {{ $heading = .elements.heading }}
    {{ end }}
    {{ if .elements.subheading }}
      {{ $subheading = .elements.subheading }}
    {{ end }}
    {{ if .elements.ctas.buttons }}
      {{ $buttons = .elements.ctas.buttons }}
    {{ end }}
  {{ end }}

  {{ if .config }}
    {{ $config = .config }}
    {{ if .config.super_heading }}
      {{ $superHeadingConfig = .config.super_heading }}
    {{ end }}
    {{ if .config.heading }}
      {{ $headingConfig = .config.heading }}
    {{ end }}
    {{ if .config.subheading }}
      {{ $subheadingConfig = .config.subheading }}
    {{ end }}
    {{ if .config.ctas.buttons }}
      {{ $buttonsConfig = .config.ctas.buttons }}
    {{ end }}
  {{ end }}

  {{ $headingClasses := partial "utilities/utility-classes.html" $headingConfig }}

  <!-- Hero Content -->
  <div class="row align-items-center no-gutters position-relative">
    <div class="{{ $cols }}">
      <div class="py-5 py-lg-0">
        <div class="wvu-p-max-width">
          {{ partial "components/simple/heading-group-test.html" ( dict "superHeading" $superHeading "heading" $heading "subheading" $subheading "superHeadingConfig" $superHeadingConfig "headingConfig" $headingConfig "subheadingConfig" $subheadingConfig ) }}
          <!-- Lead -->
          <p class="mb-3 lead">
            Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.
          </p>
          <!-- Copy -->
          <p class="mb-4">
            Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.
          </p>
          <!-- CTAs -->
          {{ with .elements.ctas }}
            {{ if eq .type "list" }}
              {{ partial "components/simple/cta-list.html" . }}
            {{ else }}
              {{ partial "components/simple/cta-buttons.html" ( dict "buttons" $buttons "config" $buttonsConfig ) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ partial "utilities/section.html" . }}